@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #45545B;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  outline: none;
  box-sizing: border-box;
}

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.addIcon,
.androidIcon,
.appleIcon,
.appMonitorIcon,
.archiveIcon,
.archivedIcon,
.arrowLeftIcon,
.arrowRightIcon,
.assignWorkflowIcon,
.backupIcon,
.bgIcon,
.browseIcon,
.bugIcon,
.bundleIcon,
.calClockIcon,
.calDayIcon,
.calListIcon,
.calMonthIcon,
.calWeekIcon,
.cancelIcon,
.cancelWorkflowIcon,
.cartIcon,
.checkBoxIcon,
.chevronIcon,
.chevronExpandIcon,
.closeIcon,
.colorIcon,
.copyIcon,
.cutIcon,
.deleteIcon,
.deleteWorkflowIcon,
.detailViewIcon,
.docConvertIcon,
.docCopyIcon,
.docNumIcon,
.docTextIcon,
.documentIcon,
.downloadIcon,
.dropIcon,
.editIcon,
.editScriptIcon,
.encryptIcon,
.exclamationIcon,
.exclamation-redIcon,
.femaleIcon,
.fileIcon,
.fileMultiIcon,
.fileNewIcon,
.fixIcon,
.folderIcon,
.folderAddIcon,
.folderCopyIcon,
.folderDeleteIcon,
.folderEditIcon,
.folderFilesIcon,
.folderGlobeIcon,
.folderOpenIcon,
.folderSelectedIcon,
.formIcon,
.formNewIcon,
.gearIcon,
.gearMinusIcon,
.gearPencilIcon,
.gearPlusIcon,
.greyDotIcon,
.helpIcon,
.hideIcon,
.hintIcon,
.hostIcon,
.hostArchivedIcon,
.hostDefaultIcon,
.hostStoppedIcon,
.hourGlassIcon,
.imageNewIcon,
.infoIcon,
.keyIcon,
.keyvalueIcon,
.linkIcon,
.linkAddIcon,
.listViewIcon,
.liveIcon,
.lockIcon,
.loginIcon,
.loginAsIcon,
.mailListIcon,
.mapPinIcon,
.minusIcon,
.mobileIcon,
.movePageIcon,
.multiSelectIcon,
.newPageIcon,
.newTaskIcon,
.newWorkflowIcon,
.nextIcon,
.pageIcon,
.pagePropIcon,
.pasteIcon,
.plusIcon,
.previewIcon,
.previousIcon,
.propertyIcon,
.publishIcon,
.queryIcon,
.radioIcon,
.reindexIcon,
.rememberIcon,
.reopenWorkflowIcon,
.reorderIcon,
.repeatIcon,
.republishIcon,
.requiredIcon,
.resetIcon,
.resolveIcon,
.resolveWorkflowIcon,
.rServerIcon,
.saveIcon,
.saveAssignIcon,
.scrollPaneIcon,
.searchIcon,
.selectIcon,
.shimIcon,
.shrinkIcon,
.spellIcon,
.splitterIcon,
.sServerIcon,
.statisticsIcon,
.stopIcon,
.tabIcon,
.tagIcon,
.textFieldIcon,
.thumbnailViewIcon,
.toggleCloseIcon,
.toggleOpenIcon,
.trashIcon,
.uknIcon,
.unarchiveIcon,
.unlockIcon,
.unpublishIcon,
.uploadIcon,
.userIcon,
.windowsIcon,
.workflowIcon,
.workingIcon,
.workStreamIcon,
.wysiwygIcon,
.dijitIcon {
  font: normal normal normal 16px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.addIcon:before {
  content: "";
}

.androidIcon:before {
  content: "";
}

.appleIcon:before {
  content: "";
}

.appMonitorIcon:before {
  content: "";
}

.archiveIcon:before {
  content: "";
}

.archivedIcon:before {
  content: "";
}

.arrowLeftIcon:before {
  content: "";
}

.arrowRightIcon:before {
  content: "";
}

.assignWorkflowIcon:before {
  content: "";
}

.backupIcon:before {
  content: "";
}

.bgIcon:before {
  content: "";
}

.browseIcon:before {
  content: "";
}

.bugIcon:before {
  content: "";
}

.bundleIcon:before {
  content: "";
}

.calClockIcon:before {
  content: "";
}

.calDayIcon:before {
  content: "";
}

.calListIcon:before {
  content: "";
}

.calMonthIcon:before {
  content: "";
}

.calWeekIcon:before {
  content: "";
}

.cancelIcon:before {
  content: "";
}

.cancelWorkflowIcon:before {
  content: "";
}

.cartIcon:before {
  content: "";
}

.checkBoxIcon:before {
  content: "";
}

.chevronIcon:before {
  content: "";
}

.chevronExpandIcon:before {
  content: "";
}

.closeIcon:before {
  content: "";
}

.colorIcon:before {
  content: "";
}

.copyIcon:before {
  content: "";
}

.cutIcon:before {
  content: "";
}

.deleteIcon:before {
  content: "";
}

.deleteWorkflowIcon:before {
  content: "";
}

.detailViewIcon:before {
  content: "";
}

.docConvertIcon:before {
  content: "";
}

.docCopyIcon:before {
  content: "";
}

.docNumIcon:before {
  content: "";
}

.docTextIcon:before {
  content: "";
}

.documentIcon:before {
  content: "";
}

.downloadIcon:before {
  content: "";
}

.dropIcon:before {
  content: "";
}

.editIcon:before {
  content: "";
}

.editScriptIcon:before {
  content: "";
}

.encryptIcon:before {
  content: "";
}

.exclamation-redIcon:before {
  content: "";
}

.exclamationIcon:before {
  content: "";
}

.femaleIcon:before {
  content: "";
}

.fileIcon:before {
  content: "";
}

.fileMultiIcon:before {
  content: "";
}

.fileNewIcon:before {
  content: "";
}

.fixIcon:before {
  content: "";
}

.folderIcon:before {
  content: "";
}

.folderAddIcon:before {
  content: "";
}

.folderCopyIcon:before {
  content: "";
}

.folderDeleteIcon:before {
  content: "";
}

.folderEditIcon:before {
  content: "";
}

.folderFilesIcon:before {
  content: "";
}

.folderGlobeIcon:before {
  content: "";
}

.folderOpenIcon:before {
  content: "";
}

.folderSelectedIcon:before {
  content: "";
}

.formIcon:before {
  content: "";
}

.formNewIcon:before {
  content: "";
}

.gearIcon:before {
  content: "";
}

.gearMinusIcon:before {
  content: "";
}

.gearPencilIcon:before {
  content: "";
}

.gearPlusIcon:before {
  content: "";
}

.greyDotIcon:before {
  content: "";
}

.helpIcon:before {
  content: "";
}

.hideIcon:before {
  content: "";
}

.hintIcon:before {
  content: "";
}

.hostIcon:before {
  content: "";
}

.hostArchivedIcon:before {
  content: "";
}

.hostDefaultIcon:before {
  content: "";
}

.hostStoppedIcon:before {
  content: "";
}

.hourGlassIcon:before {
  content: "";
}

.imageNewIcon:before {
  content: "";
}

.infoIcon:before {
  content: "";
}

.keyIcon:before {
  content: "";
}

.keyvalueIcon:before {
  content: "";
}

.linkIcon:before {
  content: "";
}

.linkAddIcon:before {
  content: "";
}

.listViewIcon:before {
  content: "";
}

.liveIcon:before {
  content: "";
}

.lockIcon:before {
  content: "";
}

.loginIcon:before {
  content: "";
}

.loginAsIcon:before {
  content: "";
}

.mailListIcon:before {
  content: "";
}

.mapPinIcon:before {
  content: "";
}

.minusIcon:before {
  content: "";
}

.mobileIcon:before {
  content: "";
}

.movePageIcon:before {
  content: "";
}

.multiSelectIcon:before {
  content: "";
}

.newPageIcon:before {
  content: "";
}

.newTaskIcon:before {
  content: "";
}

.newWorkflowIcon:before {
  content: "";
}

.nextIcon:before {
  content: "";
}

.pageIcon:before {
  content: "";
}

.pagePropIcon:before {
  content: "";
}

.pasteIcon:before {
  content: "";
}

.plusIcon:before {
  content: "";
}

.previewIcon:before {
  content: "";
}

.previousIcon:before {
  content: "";
}

.propertyIcon:before {
  content: "";
}

.publishIcon:before {
  content: "";
}

.queryIcon:before {
  content: "";
}

.radioIcon:before {
  content: "";
}

.reindexIcon:before {
  content: "";
}

.rememberIcon:before {
  content: "";
}

.reopenWorkflowIcon:before {
  content: "";
}

.reorderIcon:before {
  content: "";
}

.repeatIcon:before {
  content: "";
}

.republishIcon:before {
  content: "";
}

.requiredIcon:before {
  content: "";
}

.resetIcon:before {
  content: "";
}

.resolveIcon:before {
  content: "";
}

.resolveWorkflowIcon:before {
  content: "";
}

.rServerIcon:before {
  content: "";
}

.saveIcon:before {
  content: "";
}

.saveAssignIcon:before {
  content: "";
}

.scrollPaneIcon:before {
  content: "";
}

.searchIcon:before {
  content: "";
}

.selectIcon:before {
  content: "";
}

.shimIcon:before {
  content: "";
}

.shrinkIcon:before {
  content: "";
}

.spellIcon:before {
  content: "";
}

.splitterIcon:before {
  content: "";
}

.sServerIcon:before {
  content: "";
}

.statisticsIcon:before {
  content: "";
}

.stopIcon:before {
  content: "";
}

.tabIcon:before {
  content: "";
}

.tagIcon:before {
  content: "";
}

.textFieldIcon:before {
  content: "";
}

.thumbnailViewIcon:before {
  content: "";
}

.toggleCloseIcon:before {
  content: "";
}

.toggleOpenIcon:before {
  content: "";
}

.trashIcon:before {
  content: "";
}

.uknIcon:before {
  content: "";
}

.unarchiveIcon:before {
  content: "";
}

.unlockIcon:before {
  content: "";
}

.unpublishIcon:before {
  content: "";
}

.uploadIcon:before {
  content: "";
}

.userIcon:before {
  content: "";
}

.windowsIcon:before {
  content: "";
}

.workflowIcon:before {
  content: "";
}

.workingIcon:before {
  content: "";
}

.workStreamIcon:before {
  content: "";
}

.wysiwygIcon:before {
  content: "";
}

.dijitIconTask:before {
  content: "";
}

.dijitIconEdit:before {
  content: "";
}

.dijitIconSave:before {
  content: "";
}

.dijitCheckBoxIcon:before {
  content: "";
}

.dotcms {
  /*
  
  ====================================
  DOJO DOM TREE INFORMATION
  ====================================
  Just for guideance
  
  .dijitDropDownButton {
    .dijitArrowButtonInner <-- background container
      :before <-- icon
  }
  
  table.dijitComboButton {
    td.dijitButtonNode.dijitArrowButton {
      .dijitArrowButtonInner <-- background container
        :before <-- icon
    }
  }
  
  .dijitComboBox {
    .dijitButtonNode.dijitArrowButton { <-- background container
      .dijitArrowButtonInner
       :before <-- icon
    }
  }
  
  .dijitSpinner {
    .dijitSpinnerButtonContainer { <-- container wrapper
  
      .dijitButtonNode.dijitArrowButton.dijitUpArrowButton { <-- icon wrapper
        .dijitArrowButtonInner {
          .dijitInputField
        }
      }
      .dijitButtonNode.dijitArrowButton.dijitDownArrowButton { <-- icon wrapper
        .dijitArrowButtonInner {
          .dijitInputField
        }
      }
    }
  }
  
  .dijitSelect {
    .dijitArrowButtonContainer {
  
    }
  }
  
  */
  /* ===================================
  DOTCMS STYLE GUIDE TODO: move to a file
  =================================== */
}
.dotcms .dijitButton,
.dotcms .dijitComboButton,
.dotcms .dijitDropDownButton,
.dotcms .dijitSelect,
.dotcms .dijitTextBox,
.dotcms .dijitToggleButton {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 36px;
}
.dotcms .dijitButton,
.dotcms .dijitComboButton,
.dotcms .dijitComboButton .dijitArrowButtonInner,
.dotcms .dijitDropDownButton,
.dotcms .dijitDropDownButton .dijitArrowButtonInner,
.dotcms .dijitSelect,
.dotcms .dijitTextBox,
.dotcms .dijitToggleButton {
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
.dotcms .dijitComboButton,
.dotcms .dijitDropDownButton,
.dotcms .dijitSelect,
.dotcms .dijitTextBox,
.dotcms .dijitToggleButton {
  border: solid 1px #45545B;
  color: #45545B;
}
.dotcms .dijitComboBox .dijitArrowButtonContainer,
.dotcms .dijitComboButton .dijitArrowButtonInner,
.dotcms .dijitDropDownButton .dijitArrowButtonInner,
.dotcms .dijitSelect .dijitArrowButtonContainer,
.dotcms .dijitSpinner .dijitSpinnerButtonContainer {
  height: 34px;
  border: none;
  position: relative;
}
.dotcms .dijitComboButton .dijitArrowButtonInner,
.dotcms .dijitDropDownButton .dijitArrowButtonInner,
.dotcms .dijitSpinner .dijitSpinnerButtonContainer {
  width: 24px;
}
.dotcms .dijitComboButton .dijitArrowButtonInner,
.dotcms .dijitSpinner .dijitSpinnerButtonContainer {
  background-color: #45545B;
}
.dotcms .dijitComboBox .dijitArrowButtonContainer,
.dotcms .dijitSelect .dijitArrowButtonContainer {
  width: 36px;
}
.dotcms .dijitComboBox .dijitArrowButtonContainer:before,
.dotcms .dijitSelect .dijitArrowButtonContainer:before {
  content: "";
  left: 50%;
  margin-left: -7px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  background-image: url("/images/ico-combobox.svg");
  height: 10px !important;
  width: 16px;
}
.dotcms .dijitComboButton .dijitArrowButtonInner:before,
.dotcms .dijitDropDownButton .dijitArrowButtonInner:before,
.dotcms .dijitSpinner .dijitArrowButtonInner:before {
  content: "";
  left: 50%;
  margin-left: -5px;
  margin-top: -3px;
  position: absolute;
  top: 50%;
  height: 6px !important;
  width: 10px;
}
.dotcms .dijitComboButton .dijitArrowButtonInner:before,
.dotcms .dijitSpinner .dijitArrowButtonInner:before {
  background-image: url("/images/ico-arrow-sm-light.svg");
}
.dotcms .dijitDropDownButton .dijitArrowButtonInner:before {
  background-image: url("/images/ico-arrow-sm-dark.svg");
}
.dotcms .dijitDisabled {
  border-style: dotted;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.dotcms .dijitDisabled.dijitCheckBox, .dotcms .dijitDisabled.dijitCheckBoxInput, .dotcms .dijitDisabled.dijitRadio {
  border-style: solid;
}
.dotcms .dijitInputInner {
  color: #45545B;
  line-height: 36px;
}
.dotcms .dijitIcon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.dotcms .dijitTextBox {
  padding: 0 10px;
}
.dotcms .dijitTextBoxHover {
  -moz-box-shadow: 0 0 10px 0 rgba(69, 84, 91, 0.35);
  -webkit-box-shadow: 0 0 10px 0 rgba(69, 84, 91, 0.35);
  box-shadow: 0 0 10px 0 rgba(69, 84, 91, 0.35);
}
.dotcms .dijitTextBoxHoverFocused {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dotcms .dijitTextBoxFocused {
  border-color: #108AC8;
  background-color: rgba(16, 138, 200, 0.1);
}
.dotcms .dijitSpinner {
  padding-right: 0;
}
.dotcms .dijitSpinner .dijitUpArrowButton .dijitArrowButtonInner {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dotcms .dijitPlaceHolder {
  color: rgba(69, 84, 91, 0.4);
  font-style: normal;
  line-height: 36px;
}
.dotcms .dijitTextArea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #45545B;
  padding: 5px 10px;
}
.dotcms .dijitButton,
.dotcms .dijitComboButton,
.dotcms .dijitDropDownButton,
.dotcms .dijitToggleButton {
  margin: 0;
}
.dotcms .dijitButton .dijitButtonNode,
.dotcms .dijitComboButton .dijitButtonNode,
.dotcms .dijitDropDownButton .dijitButtonNode,
.dotcms .dijitToggleButton .dijitButtonNode {
  border: none;
  padding-left: 10px;
}
.dotcms .dijitButton,
.dotcms .dijitToggleButton {
  padding-right: 10px;
}
.dotcms .dijitButton .dijitButtonText,
.dotcms .dijitDropDownButton .dijitButtonText,
.dotcms .dijitToggleButton .dijitButtonText {
  line-height: 34px;
  height: 34px;
}
.dotcms .dijitButton {
  background-color: #108AC8;
  color: #fff;
}
.dotcms .dijitButtonHover {
  background-color: #45545B;
  color: #fff;
}
.dotcms .dijitButtonFocused {
  background-color: #68757E;
  color: #fff;
}
.dotcms .dijitComboButtonHover,
.dotcms .dijitDropDownButtonHover {
  border-color: #108AC8;
  background-color: #108AC8;
  color: #fff;
}
.dotcms .dijitComboButtonHover .dijitArrowButtonInner {
  background-color: #1FA1D8;
}
.dotcms .dijitDropDownButtonHover .dijitArrowButtonInner:before {
  background-image: url("/images/ico-arrow-sm-light.svg");
}
.dotcms .dijitToggleButtonHover {
  background-color: #45545B;
  color: #fff;
}
.dotcms .dijitToggleButtonChecked {
  border-color: #68757E;
  background-color: #68757E;
  color: #fff;
}
.dotcms .dijitDropDownButton .dijitButtonText {
  margin-right: 10px;
}
.dotcms .dijitCheckBox, .dotcms .dijitRadio {
  border: solid 2px #45545B;
  width: 16px;
  height: 16px;
}
.dotcms .dijitCheckBoxChecked {
  background: url("/images/ico-checkbox.svg") 1px 2px no-repeat;
}
.dotcms .dijitRadio {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.dotcms .dijitRadioChecked {
  position: relative;
}
.dotcms .dijitRadioChecked:before {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #45545B;
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
}
.dotcms .dijitSelect .dijitButtonContents {
  padding: 0 10px;
  border: none;
}
.dotcms .dijitComboBox {
  padding-right: 0;
}
.dotcms .dijitComboBox.dijitValidationTextBoxError .dijitValidationContainer,
.dotcms .dijitComboBox .dijitValidationContainer {
  display: none;
}
.dotcms .dijitAccordionContainer {
  border: none;
}
.dotcms .dijitAccordionInnerContainer {
  border: solid 1px #D1D8DD;
  margin-bottom: 5px;
}
.dotcms .dijitAccordionTitle {
  padding: 5px;
}
.dotcms .dijitAccordionTitleSelected {
  background-color: #D1D8DD;
  font-weight: bold;
}
.dotcms .dijitMenuBar {
  border: solid 1px #D1D8DD;
}
.dotcms .dijitMenuItem {
  padding: 5px;
}
.dotcms .dijitTabContainerTop-tabs,
.dotcms .dijitTabContainerBottom-tabs {
  padding-left: 1px;
}
.dotcms .dijitTabContainerTop-tabs {
  border-bottom: solid 1px #D1D8DD;
}
.dotcms .dijitTabContainerBottom-tabs {
  border-top: solid 1px #D1D8DD;
}
.dotcms .dijitTabContainerBottom-container,
.dotcms .dijitTabContainerTop-container,
.dotcms .dijitTabContainerLeft-container,
.dotcms .dijitTabContainerRight-container {
  border: solid 1px #D1D8DD;
}
.dotcms .dijitTabContainerTop-container {
  border-top: 0;
}
.dotcms .dijitTabContainerBottom-container {
  border-bottom: 0;
}
.dotcms .dijitTab {
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  background-color: #D1D8DD;
  border: solid 1px #D1D8DD;
  border-bottom: none;
  height: 36px;
  margin-right: -1px;
  padding: 0 10px;
}
.dotcms .dijitTab:first-child {
  margin-right: 0;
}
.dotcms .dijitTab .tabLabel {
  line-height: 36px;
}
.dotcms .dijitTab.dijitTabChecked {
  background-color: #fff;
}
.dotcms .dijitTabPane {
  padding: 0 20px;
}
.dotcms #doc, .dotcms #doc2, .dotcms #doc3, .dotcms #doc4, .dotcms .yui-t1, .dotcms .yui-t2, .dotcms .yui-t3, .dotcms .yui-t4, .dotcms .yui-t5, .dotcms .yui-t6, .dotcms .yui-t7 {
  margin: auto;
  text-align: left;
  width: 57.69em;
  *width: 56.25em;
}
.dotcms #doc2 {
  width: 73.076em;
  *width: 71.25em;
}
.dotcms #doc3 {
  margin: auto 10px;
  width: auto;
}
.dotcms #doc4 {
  width: 74.923em;
  *width: 73.05em;
}
.dotcms .yui-b {
  position: relative;
}
.dotcms .yui-b {
  _position: static;
}
.dotcms #yui-main .yui-b {
  position: static;
}
.dotcms #yui-main, .dotcms .yui-g .yui-u .yui-g {
  width: 100%;
}
.dotcms .yui-t1 #yui-main, .dotcms .yui-t2 #yui-main, .dotcms .yui-t3 #yui-main {
  float: right;
  margin-left: -25em;
}
.dotcms .yui-t4 #yui-main, .dotcms .yui-t5 #yui-main, .dotcms .yui-t6 #yui-main {
  float: left;
  margin-right: -25em;
}
.dotcms .yui-t1 .yui-b {
  float: left;
  width: 12.30769em;
  *width: 12.00em;
}
.dotcms .yui-t1 #yui-main .yui-b {
  margin-left: 13.30769em;
  *margin-left: 13.05em;
}
.dotcms .yui-t2 .yui-b {
  float: left;
  width: 13.8461em;
  *width: 13.50em;
}
.dotcms .yui-t2 #yui-main .yui-b {
  margin-left: 14.8461em;
  *margin-left: 14.55em;
}
.dotcms .yui-t3 .yui-b {
  float: left;
  width: 23.0769em;
  *width: 22.50em;
}
.dotcms .yui-t3 #yui-main .yui-b {
  margin-left: 24.0769em;
  *margin-left: 23.62em;
}
.dotcms .yui-t4 .yui-b {
  float: right;
  width: 13.8456em;
  *width: 13.50em;
}
.dotcms .yui-t4 #yui-main .yui-b {
  margin-right: 14.8456em;
  *margin-right: 14.55em;
}
.dotcms .yui-t5 .yui-b {
  float: right;
  width: 18.4615em;
  *width: 18.00em;
}
.dotcms .yui-t5 #yui-main .yui-b {
  margin-right: 19.4615em;
  *margin-right: 19.125em;
}
.dotcms .yui-t6 .yui-b {
  float: right;
  width: 23.0769em;
  *width: 22.50em;
}
.dotcms .yui-t6 #yui-main .yui-b {
  margin-right: 24.0769em;
  *margin-right: 23.62em;
}
.dotcms .yui-t7 #yui-main .yui-b {
  display: block;
  margin: 0 0 1em 0;
}
.dotcms #yui-main .yui-b {
  float: none;
  width: auto;
}
.dotcms .yui-gb .yui-u, .dotcms .yui-g .yui-gb .yui-u, .dotcms .yui-gb .yui-g, .dotcms .yui-gb .yui-gb, .dotcms .yui-gb .yui-gc, .dotcms .yui-gb .yui-gd, .dotcms .yui-gb .yui-ge, .dotcms .yui-gb .yui-gf, .dotcms .yui-gc .yui-u, .dotcms .yui-gc .yui-g, .dotcms .yui-gd .yui-u {
  float: left;
}
.dotcms .yui-g .yui-u, .dotcms .yui-g .yui-g, .dotcms .yui-g .yui-gb, .dotcms .yui-g .yui-gc, .dotcms .yui-g .yui-gd, .dotcms .yui-g .yui-ge, .dotcms .yui-g .yui-gf, .dotcms .yui-gc .yui-u, .dotcms .yui-gd .yui-g, .dotcms .yui-g .yui-gc .yui-u, .dotcms .yui-ge .yui-u, .dotcms .yui-ge .yui-g, .dotcms .yui-gf .yui-g, .dotcms .yui-gf .yui-u {
  float: right;
}
.dotcms .yui-g div.first, .dotcms .yui-gb div.first, .dotcms .yui-gc div.first, .dotcms .yui-gd div.first, .dotcms .yui-ge div.first, .dotcms .yui-gf div.first, .dotcms .yui-g .yui-gc div.first, .dotcms .yui-g .yui-ge div.first, .dotcms .yui-gc div.first div.first {
  float: left;
}
.dotcms .yui-g .yui-u, .dotcms .yui-g .yui-g, .dotcms .yui-g .yui-gb, .dotcms .yui-g .yui-gc, .dotcms .yui-g .yui-gd, .dotcms .yui-g .yui-ge, .dotcms .yui-g .yui-gf {
  width: 49.1%;
}
.dotcms .yui-gb .yui-u, .dotcms .yui-g .yui-gb .yui-u, .dotcms .yui-gb .yui-g, .dotcms .yui-gb .yui-gb, .dotcms .yui-gb .yui-gc, .dotcms .yui-gb .yui-gd, .dotcms .yui-gb .yui-ge, .dotcms .yui-gb .yui-gf, .dotcms .yui-gc .yui-u, .dotcms .yui-gc .yui-g, .dotcms .yui-gd .yui-u {
  width: 32%;
  margin-left: 1.99%;
}
.dotcms .yui-gb .yui-u {
  *margin-left: 1.9%;
  *width: 31.9%;
}
.dotcms .yui-gc div.first, .dotcms .yui-gd .yui-u {
  width: 66%;
}
.dotcms .yui-gd div.first {
  width: 32%;
}
.dotcms .yui-ge div.first, .dotcms .yui-gf .yui-u {
  width: 74.2%;
}
.dotcms .yui-ge .yui-u, .dotcms .yui-gf div.first {
  width: 24%;
}
.dotcms .yui-g .yui-gb div.first, .dotcms .yui-gb div.first, .dotcms .yui-gc div.first, .dotcms .yui-gd div.first {
  margin-left: 0;
}
.dotcms .yui-g .yui-g .yui-u, .dotcms .yui-gb .yui-g .yui-u, .dotcms .yui-gc .yui-g .yui-u, .dotcms .yui-gd .yui-g .yui-u, .dotcms .yui-ge .yui-g .yui-u, .dotcms .yui-gf .yui-g .yui-u {
  width: 49%;
  *width: 48.1%;
  *margin-left: 0;
}
.dotcms .yui-g .yui-g .yui-u {
  width: 48.1%;
}
.dotcms .yui-g .yui-gb div.first, .dotcms .yui-gb .yui-gb div.first {
  *margin-right: 0;
  *width: 32%;
  _width: 31.7%;
}
.dotcms .yui-g .yui-gc div.first, .dotcms .yui-gd .yui-g {
  width: 66%;
}
.dotcms .yui-gb .yui-g div.first {
  *margin-right: 4%;
  _margin-right: 1.3%;
}
.dotcms .yui-gb .yui-gc div.first, .dotcms .yui-gb .yui-gd div.first {
  *margin-right: 0;
}
.dotcms .yui-gb .yui-gb .yui-u, .dotcms .yui-gb .yui-gc .yui-u {
  *margin-left: 1.8%;
  _margin-left: 4%;
}
.dotcms .yui-g .yui-gb .yui-u {
  _margin-left: 1.0%;
}
.dotcms .yui-gb .yui-gd .yui-u {
  *width: 66%;
  _width: 61.2%;
}
.dotcms .yui-gb .yui-gd div.first {
  *width: 31%;
  _width: 29.5%;
}
.dotcms .yui-g .yui-gc .yui-u, .dotcms .yui-gb .yui-gc .yui-u {
  width: 32%;
  _float: right;
  margin-right: 0;
  _margin-left: 0;
}
.dotcms .yui-gb .yui-gc div.first {
  width: 66%;
  *float: left;
  *margin-left: 0;
}
.dotcms .yui-gb .yui-ge .yui-u, .dotcms .yui-gb .yui-gf .yui-u {
  margin: 0;
}
.dotcms .yui-gb .yui-gb .yui-u {
  _margin-left: .7%;
}
.dotcms .yui-gb .yui-g div.first, .dotcms .yui-gb .yui-gb div.first {
  *margin-left: 0;
}
.dotcms .yui-gc .yui-g .yui-u, .dotcms .yui-gd .yui-g .yui-u {
  *width: 48.1%;
  *margin-left: 0;
}
.dotcms .yui-gb .yui-gd div.first {
  width: 32%;
}
.dotcms .yui-g .yui-gd div.first {
  _width: 29.9%;
}
.dotcms .yui-ge .yui-g {
  width: 24%;
}
.dotcms .yui-gf .yui-g {
  width: 74.2%;
}
.dotcms .yui-gb .yui-ge div.yui-u, .dotcms .yui-gb .yui-gf div.yui-u {
  float: right;
}
.dotcms .yui-gb .yui-ge div.first, .dotcms .yui-gb .yui-gf div.first {
  float: left;
}
.dotcms .yui-gb .yui-ge .yui-u, .dotcms .yui-gb .yui-gf div.first {
  *width: 24%;
  _width: 20%;
}
.dotcms .yui-gb .yui-ge div.first, .dotcms .yui-gb .yui-gf .yui-u {
  *width: 73.5%;
  _width: 65.5%;
}
.dotcms .yui-ge div.first .yui-gd .yui-u {
  width: 65%;
}
.dotcms .yui-ge div.first .yui-gd div.first {
  width: 32%;
}
.dotcms #hd:after, .dotcms #bd:after, .dotcms #ft:after, .dotcms .yui-g:after, .dotcms .yui-gb:after, .dotcms .yui-gc:after, .dotcms .yui-gd:after, .dotcms .yui-ge:after, .dotcms .yui-gf:after {
  content: "";
  display: block;
  clear: both;
}
.dotcms #hd, .dotcms #bd, .dotcms #ft, .dotcms .yui-g, .dotcms .yui-gb, .dotcms .yui-gc, .dotcms .yui-gd, .dotcms .yui-ge, .dotcms .yui-gf {
  zoom: 1;
}
.dotcms #hd {
  margin-top: 5px;
}
.dotcms #bd {
  margin-bottom: 20px;
  -moz-box-shadow: 0px 0px 0px #fff;
  -webkit-box-shadow: 0px 0px 0px #fff;
  border: 0px;
  padding: 0;
}
.dotcms pre {
  width: 100%;
  overflow: auto;
  font-size: 12px;
  padding: 0;
  margin: 0;
  background: #f0f0f0;
  border: 1px solid #ccc;
  line-height: 20px;
  overflow-Y: hidden;
}
.dotcms pre code {
  margin: 0 0 0 20px;
  padding: 0 0 16px 0;
  display: block;
}
.dotcms .spacer {
  background-color: rgba(69, 84, 91, 0.15);
  border: none;
  height: 1px;
  margin: 20px 0;
  width: 100%;
}
.dotcms dl {
  margin: 0;
}
.dotcms dt,
.dotcms dd {
  line-height: 36px;
  margin: 0 0 10px;
}
.dotcms dt {
  float: left;
  padding-right: 10px;
  text-align: right;
  width: 30%;
}
.dotcms dd {
  text-align: left;
  width: 70%;
  margin-left: 30%;
}
.dotcms dd.inputCaption {
  font-size: 11px;
  color: #8D9DA9;
  line-height: 1.5;
  margin-bottom: 20px;
}
.dotcms dd .hintBox {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 11px;
  color: #8D9DA9;
  border: solid 1px #D1D8DD;
  line-height: 1.5;
  padding: 10px;
  width: 200px;
}
.dotcms .listingTable {
  border: 1px solid #D1D8DD;
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}
.dotcms .listingTable tr.selected {
  background-color: #D1D8DD;
}
.dotcms .listingTable tr.alternate_1 {
  cursor: pointer;
}
.dotcms .listingTable tr.alternate_2 {
  background: rgba(141, 157, 169, 0.25);
  cursor: pointer;
}
.dotcms .listingTable tr.alternate_1:hover, .dotcms .listingTable tr.alternate_2:hover {
  background-color: rgba(16, 138, 200, 0.15);
}
.dotcms .listingTable th, .dotcms .listingTable td {
  padding: 8px 10px;
  border: 1px solid #D1D8DD;
  border-top: none;
}
.dotcms .listingTable th a, .dotcms .listingTable td a {
  text-decoration: none;
}
.dotcms .listingTable th table tr, .dotcms .listingTable td table tr {
  border: none;
}
.dotcms .listingTable th {
  font-weight: bold;
  background: #D1D8DD;
}
.dotcms .portlet-toolbar {
  padding: 10px 0;
}
.dotcms .buttonRow {
  text-align: center;
  padding: 10px 0;
  line-height: 36px;
}
.dotcms .noResultsMessage {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
