@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #45545B;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  outline: none;
  box-sizing: border-box;
}

.dotcms {
  /*
  
  ====================================
  DOJO DOM TREE INFORMATION
  ====================================
  Just for guideance
  
  .dijitDropDownButton {
    .dijitArrowButtonInner <-- background container
      :before <-- icon
  }
  
  table.dijitComboButton {
    td.dijitButtonNode.dijitArrowButton {
      .dijitArrowButtonInner <-- background container
        :before <-- icon
    }
  }
  
  .dijitComboBox {
    .dijitButtonNode.dijitArrowButton { <-- background container
      .dijitArrowButtonInner
       :before <-- icon
    }
  }
  
  .dijitSpinner {
    .dijitSpinnerButtonContainer { <-- container wrapper
  
      .dijitButtonNode.dijitArrowButton.dijitUpArrowButton { <-- icon wrapper
        .dijitArrowButtonInner {
          .dijitInputField
        }
      }
      .dijitButtonNode.dijitArrowButton.dijitDownArrowButton { <-- icon wrapper
        .dijitArrowButtonInner {
          .dijitInputField
        }
      }
    }
  }
  
  .dijitSelect {
    .dijitArrowButtonContainer {
  
    }
  }
  
  */
}
.dotcms .dijitButton,
.dotcms .dijitComboButton,
.dotcms .dijitDropDownButton,
.dotcms .dijitToggleButton {
  margin: 0;
}
.dotcms .dijitButton .dijitButtonNode,
.dotcms .dijitComboButton .dijitButtonNode,
.dotcms .dijitDropDownButton .dijitButtonNode,
.dotcms .dijitToggleButton .dijitButtonNode {
  border: none;
  padding-left: 10px;
}
.dotcms .dijitButton,
.dotcms .dijitToggleButton {
  padding-right: 10px;
}
.dotcms .dijitDropDownButton .dijitButtonText,
.dotcms .dijitButton .dijitButtonText,
.dotcms .dijitToggleButton .dijitButtonText {
  line-height: 34px;
  height: 34px;
}
.dotcms .dijitDropDownButton .dijitButtonText {
  margin-right: 10px;
}
.dotcms .dijitCheckBox, .dotcms .dijitRadio {
  border: solid 2px #45545B;
  width: 16px;
  height: 16px;
}
.dotcms .dijitCheckBoxChecked {
  background: url("/images/ico-checkbox.svg") 1px 2px no-repeat;
}
.dotcms .dijitButton,
.dotcms .dijitComboButton,
.dotcms .dijitDropDownButton,
.dotcms .dijitSelect,
.dotcms .dijitTextBox,
.dotcms .dijitToggleButton {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  border: solid 1px #45545B;
  height: 36px;
}
.dotcms .dijitComboBox .dijitArrowButtonContainer,
.dotcms .dijitComboButton .dijitArrowButtonInner,
.dotcms .dijitDropDownButton .dijitArrowButtonInner,
.dotcms .dijitSelect .dijitArrowButtonContainer,
.dotcms .dijitSpinner .dijitSpinnerButtonContainer {
  height: 34px;
  border: none;
  position: relative;
}
.dotcms .dijitComboButton .dijitArrowButtonInner,
.dotcms .dijitDropDownButton .dijitArrowButtonInner,
.dotcms .dijitSpinner .dijitSpinnerButtonContainer {
  background-color: #45545B;
  width: 24px;
}
.dotcms .dijitComboBox .dijitArrowButtonContainer,
.dotcms .dijitSelect .dijitArrowButtonContainer {
  width: 36px;
}
.dotcms .dijitComboBox .dijitArrowButtonContainer:before,
.dotcms .dijitSelect .dijitArrowButtonContainer:before {
  content: "";
  left: 50%;
  margin-left: -7px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  background-image: url("/images/ico-combobox.svg");
  height: 10px !important;
  width: 16px;
}
.dotcms .dijitComboButton .dijitArrowButtonInner:before,
.dotcms .dijitDropDownButton .dijitArrowButtonInner:before,
.dotcms .dijitSpinner .dijitArrowButtonInner:before {
  content: "";
  left: 50%;
  margin-left: -5px;
  margin-top: -3px;
  position: absolute;
  top: 50%;
  background-image: url("/images/ico-combobutton.svg");
  height: 6px !important;
  width: 10px;
}
.dotcms .dijitDisabled {
  border-style: dotted;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.dotcms .dijitDisabled.dijitCheckBox, .dotcms .dijitDisabled.dijitCheckBoxInput, .dotcms .dijitDisabled.dijitRadio {
  border-style: solid;
}
.dotcms .dijitInputInner {
  color: #45545B;
  line-height: 36px;
}
.dotcms .dijitIcon {
  width: 16px;
  height: 16px;
  border: solid 1px #45545B;
  margin-right: 5px;
}
.dotcms .dijitTextBox {
  padding: 0 10px;
  width: 100%;
}
.dotcms .dijitTextBoxHover {
  -moz-box-shadow: 0 0 10px 0 rgba(69, 84, 91, 0.35);
  -webkit-box-shadow: 0 0 10px 0 rgba(69, 84, 91, 0.35);
  box-shadow: 0 0 10px 0 rgba(69, 84, 91, 0.35);
}
.dotcms .dijitTextBoxHoverFocused {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dotcms .dijitTextBoxFocused {
  border-color: #108AC8;
  background-color: rgba(16, 138, 200, 0.1);
}
.dotcms .dijitSpinner {
  padding-right: 0;
}
.dotcms .dijitSpinner .dijitUpArrowButton .dijitArrowButtonInner {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dotcms .dijitPlaceHolder {
  color: rgba(69, 84, 91, 0.4);
  font-style: normal;
  line-height: 36px;
}
.dotcms .dijitTextArea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #45545B;
  padding: 5px 10px;
}
.dotcms .dijitRadio {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.dotcms .dijitRadioChecked {
  position: relative;
}
.dotcms .dijitRadioChecked:before {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #45545B;
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
}
.dotcms .dijitSelect .dijitButtonContents {
  padding: 0 10px;
  border: none;
}
.dotcms .dijitComboBox {
  padding-right: 0;
}
.dotcms .dijitComboBox.dijitValidationTextBoxError .dijitValidationContainer,
.dotcms .dijitComboBox .dijitValidationContainer {
  display: none;
}
.dotcms .dijitAccordionContainer {
  border: none;
}
.dotcms .dijitAccordionInnerContainer {
  border: solid 1px #D1D8DD;
  margin-bottom: 5px;
}
.dotcms .dijitAccordionTitle {
  padding: 5px;
}
.dotcms .dijitAccordionTitleSelected {
  background-color: #D1D8DD;
  font-weight: bold;
}
.dotcms .dijitMenuBar {
  border: solid 1px #D1D8DD;
}
.dotcms .dijitMenuItem {
  padding: 5px;
}
.dotcms .dijitTabContainerTop-tabs {
  border-bottom: none;
}
.dotcms .dijitTabContainerBottom-tabs {
  border-top: none;
}
.dotcms .dijitTabContainerBottom-container,
.dotcms .dijitTabContainerTop-container,
.dotcms .dijitTabContainerLeft-container,
.dotcms .dijitTabContainerRight-container {
  border: solid 1px #D1D8DD;
}
.dotcms .dijitTab {
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  border: solid 1px #D1D8DD;
  border-bottom: none;
  border-right: none;
  height: 36px;
  padding: 0 10px;
}
.dotcms .dijitTab .tabLabel {
  line-height: 36px;
}
.dotcms .dijitTab.dijitTabChecked {
  background-color: #D1D8DD;
}
