@import "calendar-events";
@import "content-edit";
@import "content-search";
@import "content-type";
@import "view-roles";
@import "view-users";
@import "view-workflow";
@import "view-categories";
@import "view-browser";

@import "legacy";

/* PORTLET STYLES 2.0 */
$panel-padding: $basic-padding * 2;

.portlet {
  .dijitTabPaneWrapper .dijitContentPane .dijitContentPane {
    padding: 0;
  }

  &-main {
    padding: $panel-padding 0;
  }

  &-sidebar {
    padding: $panel-padding $panel-padding 0;
  }

  &-sidebar-wrapper {
    background-color: $gray-ligthest;
    border-right: solid 1px $gray-ligther;
  }

  &-wrapper {
    height: 100%;
  }

  &-pagination, &-toolbar, &-toolbar__actions, &-toolbar__info {
    display: flex;
    justify-content: space-between;
  }

  &-pagination {
    margin: $panel-padding;
  }

  &-pagination__results {
    flex: 1;
    align-self: center;
    text-align: center;
  }

  &-toolbar {
    margin: 0 $panel-padding $panel-padding;

    .dijitTabPaneWrapper .dijitContentPane & {
      margin: 0 0 $panel-padding;
    }

    & > * {
      align-self: center;
    }

    a {
      text-decoration: none;
    }
  }

  &-toolbar__info {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 0 18px;
    align-items: center;

    .dijitTabPaneWrapper .dijitContentPane & {
      margin-left: 0;
    }
  }

  &-toolbar__center {
    flex: 2;

    .callOutBox {
      margin: 0;
    }

    & + .portlet-toolbar__actions {
      flex: 1;
      justify-content: flex-end;
    }
  }
}

#tablemessage {
  color: #cc0000;
}

.hintBox {
  background-color: $gray-ligthest;
  border-radius: $border-radius;
  border: solid 1px $gray-ligth;
  padding: $basic-padding * 2;
  position: absolute;
  right: $basic-padding * 2;
  top: $basic-padding * 2;
  width: 300px;
}

.callOutBox {
  background-color: rgba($blue, 0.1);
  border-radius: $border-radius;
  border: 1px solid rgba($blue, 0.3);
  margin: $basic-padding * 2 0;
  padding: $basic-padding;
  text-align: center;
}

.callOutBox2 {
  background-color: #f0f0f0;
  border-radius: $border-radius;
  border: 1px solid #d0d0d0;
  padding: $basic-padding;
  text-align: center;
}