$sidebar-width: 220px;

.content-edit__main {
  margin: $basic-padding * 2 $sidebar-width 0 0;
  width: auto;
}

.content-edit__sidebar {
  background-color: $gray-ligthest;
  border-left: solid 1px $gray-ligther;
  height: 100%;
  padding: $basic-padding * 2;
  position: fixed;
  right: 0;
  top: 0;
  width: $sidebar-width;
}

.content-edit-actions,
.content-edit-language,
.content-edit-workflow {
  margin-bottom: $basic-padding * 3;

  h3 {
    margin-bottom: $basic-padding;
  }
}

.content-edit-actions {
  & > div {
    background-color: $white;
    border-radius: $border-radius;
    border: solid 1px $gray-ligth;

    a {
      display: block;
      padding: $basic-padding;
      border-bottom: solid 1px $gray-ligth;
      cursor: pointer;

      &:hover {
        background-color: $gray-ligther;
        color: $text-color;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

.content-edit-workflow {
  table {
    width: 100%;

    td, th {
      padding-bottom: $basic-padding / 2;
      padding-top: $basic-padding / 2;
    }

    th {
      padding-right: $basic-padding;
    }

    tr {
      border-bottom: solid 1px $gray-ligther;
    }
  }
}

.content-edit__dialog-error{
    background:$white;
    padding: 0px;
    border: 0px;
    width: 300px;

    .dijitDialogTitleBar {
      height: 0;
      z-index: 1;
    }
}

.content-edit__history-version .dijitContentPane {
  padding: 0px;

  .contentIdentifier {
    font-weight: bold;
  }
}

.content-edit__divider {
  background-color: $gray-ligther;
  margin: 20px 0;
}