.site-browser__context-menues .site-browser__context-menu {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);

    a {
        font-size: 13px;
        height: 34px;
        line-height: 24px;
        padding: 4px 26px;
        color: #555555;

        &:hover {
            background-color: #fafafa;
        }
    }
}