@mixin center-icon($width, $height) {
  left: 50%;
  margin-left: -($width / 2);
  margin-top: -($height / 2);
  position: absolute;
  top: 50%;
}

@mixin mouse {
  font-size: 11px; // TODO: set a variable
  color: $gray-ligth;
}