// COLORS
$black: #000;
$blue-light: #1FA1D8;
$blue: #108AC8;
$gray-dark: #45545B;
$gray-ligth: #8D9DA9;
$gray-ligther: #D1D8DD;
$gray: #68757E;
$green-ligth: #77BE61;
$green: #4A9D51;
$orange: #F3762A;
$white: #fff;

// TYPOGRAPHY
$body-size: 14px;
$body-text: 'Open Sans', sans-serif;
$text-color: $gray-dark;

// FORMS

// Common
$field-animation-speed: .25s;
$field-border-color: $gray-dark;
$field-border-radius: 2px;
$field-border-width: 1px;
$field-disabled-border-color: rgba($gray-dark, .4);
$field-disabled-text-color: rgba($gray-dark, .4);
$field-height: 36px;
$field-icon-size: 16px;
$field-padding: 10px;
$field-placeholder-color: rgba($gray-dark, .4);

// Buttons
$button-active-bgcolor: $gray;
$button-active-textcolor: $white;
$button-horizontal-padding: 10px;
$button-hover-bgcolor: $blue;
$button-hover-textcolor: $white;


// Text Fields
$textbox-focus-color: $blue;
$textbox-hover-shadow-color: rgba($gray, 0.1);
$textbox-hover-shadow-size: 10px;

// Checkboxes & RadioButtons
$check-radio-border-width: 2px;
$check-radio-radius: 2px;
$check-radio-size: 16px;
