// COLORS

$blue: #108AC8;
$blue-light: #1FA1D8;
$gray: #68757E;
$gray-ligth: #8D9DA9;
$gray-ligther: #D1D8DD;
$gray-dark: #45545B;
$green: #4A9D51;
$green-ligth: #77BE61;
$orange: #F3762A;

// TYPOGRAPHY
$text-color: $gray-dark;
$body-text: 'Open Sans', sans-serif;
$body-size: 14px;

// FORMS

// Text Fields
$field-height: 36px;
$field-radius: 2px;
$field-padding: 10px;
$field-animation-speed: .25s;

// Checkboxes
$check-border-width: 2px;
$check-radius: 2px;
