// TODO: use a mixin?
%rc {
  border: solid $check-radio-border-width $field-border-color;
  width: $check-radio-size;
  height: $check-radio-size;
}

.dijitCheckBox {
  @extend %rc
}

.dijitCheckBoxChecked {
  background: url("/images/ico-checkbox.svg") 1px 2px no-repeat;
}