.dijitRadio {
  @include border-radius($radio-size / 2);
  background-color: $radio-normal-bgcolor;
  border: solid $radio-border-width $radio-normal-border-color;
  height: $radio-size;
  width: $radio-size;

  &Checked {
    position: relative;

    &:before {
      $size: $radio-size - 8;
      @include border-radius($size / 2);
      background-color: $radio-checked-color;
      content: "";
      height: $size;
      left: 50%;
      margin-left: -($size / 2);
      margin-top: -($size / 2);
      position: absolute;
      top: 50%;
      width: $size;
    }
  }
  
  &Disabled {
    background-color: $radio-disabled-bgcolor;
    border: solid $radio-border-width $radio-disabled-border-color;
    position: relative;
  }
}

