.dijitSelect {
  .dijitButtonContents {
    padding: 0 $field-padding;
    border: none;
  }
}

.dijitComboBox {
  padding-right: 0;

  &.dijitValidationTextBoxError .dijitValidationContainer,
  .dijitValidationContainer {
    display: none; // TODO: handle errors
  }
}
