/*
------------ FORMS ------------
- Extract from: base.css
- Handle vertical and horizontal forms
*/

.hint-text {
  font-size: 11px;
  color: #999;
  display: block;
  line-height: normal;
  margin-top: 5px;
}

// TODO: needs to style correctly multiselect fields
.multiselect {
  width: 100%;
  height: 70px;
}

// Horizontal forms and inline forms
.form-horizontal {

  .dijitTextBox {
      width: 100%;
  }

  dl {
    display: flex;
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }

    dt, dd {
      margin: 0;
      padding: 0;
    }

    dt {
      flex: 2;
      white-space: nowrap;
      text-align: right;
      margin-right: 10px;
      line-height: $field-height;
    }

    dd {
      flex: 4;
    }
  }
}

.form-inline {
  display: table;

  dl {
    display: table-row;
  }

  dt, dd {
    display: table-cell;
    min-height: auto;
    line-height: normal;
    height: auto;
    float: none;
  }

  label {
    white-space: nowrap;
  }

  dt {
    width: 1%;
  }

  dd {
    padding: 0 0 10px 10px;
    width: 99%;
  }
}


dl {
  //margin: 0;

  // Just for the Add/Edit Field form
  // TODO: add a class to style this
  &#indexed,
  &#listed,
  &#required,
  &#unique,
  &#userSearchable {
    dd {
      min-height: auto;
      line-height: normal;

      .dijitCheckBox {
        margin: 0;
      }
    }
  }
}

dd,
dt {

  &.wide {
    clear: both;
    width: auto;
  }
}

dt {
  clear: left;
  float: left;
  padding: 6px 0px 7px;
  text-align: right;
  width: 30%;
}

dd {
  margin: 0 0 $field-padding * 2 30%;
  line-height: $field-height;
  min-height: $field-height;
  padding-left: $field-padding;

  // It breaks some forms where each line is a <dl>
  // TODO: edit the html
  //&:last-child {
  //  margin-bottom: 0;
  //}

  .inputCaption,
  .buttonCaption {
    padding-left: $field-padding !important;
  }

  .dijitCheckBox,
  .dijitRadio {
    margin: 6px 0;
  }
}

input,
select {
  color: $text-color;
  font-family: $body-text;
  font-size: $body-size;
  height: $field-height;
  line-height: $field-height;
  margin: 0;
  padding: 0;
}

input[type="text"] {
  @include border-radius($field-border-radius);
  background-color: $textbox-normal-bgcolor;
  border: $textbox-normal-border;
  padding: 0 $field-padding;

  &.dijitReset {
    background: none;
    border: none;
    padding: 0;
  }
}

.buttonRow {
  text-align: center;
}

// Vertical forms

.fieldWrapper {
  margin-bottom: $field-padding * 2;
  padding: 0;
  position: relative;
}

.fieldName {
  font-weight: bold;
  margin-bottom: $field-padding / 2;
}

.fieldValue {
  float: left;
}

.fieldValueText {
  color: #999;
  border: 1px solid #ddd;
  padding: 3px 8px;
  width: 400px;
}


.toggleEditorField,
.langVariablesField {
  margin-top: $field-padding;
}

.glossaryTermPopup {
  background-color: rgba($orange, 0.2);
  @include border-radius($border-radius);
  padding: ($field-padding / 2) $field-padding;
  border: solid 1px $orange;
  position: absolute;
}

.langVariablesField {
  position: relative;

  .glossaryTermPopup {

    right: 0;
    top: 0;
  }
}

.WYSIWYGTools {
  margin-top: $field-padding;

  .glossaryTermPopup {
    left: 150px;
    top: 35px;
  }
}

// WORKFLOW TASK SEARCH FORM

.filter-tasks-frm {
  margin: 56px 20px 0 0;

  .who-user {
    label {
      margin-right: $field-padding / 2;
    }
  }
}

// CONTENT SEARH FORM

.content-search {
  margin-right: 20px;

  .button-advanced {
    display: block;
    background: #f1f1f1;
    border-top: 1px solid #ddd;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px
  }
}
