$dotcms-host: "http://localhost:8080";
$ajax-loader: "#{$dotcms-host}/html/images/icons/ajax-loader.gif";
$chevron-menu: "#{$dotcms-host}/html/images/icons/chevron-menu.png";
$dotcms-sprite: "#{$dotcms-host}/html/images/icons/dotcms-sprite.png";
$elastic-search: "#{$dotcms-host}/html/images/icons/elasticsearch.png";
$lucene: "#{$dotcms-host}/html/images/icons/lucene.png";
$skin-sprite: "#{$dotcms-host}/html/images/skin/skin-sprite.png";

#closeTab {
  z-index: 8000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}
.bannerBG {
  background: $gray-dark;
  height: 36px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.tailerBody {
  font-family: Andale Mono, monospace;
  font-size: 9pt;
  white-space: nowrap;
}
.account-flyout {
  position: absolute;
  right: 30px;
  top: 34px;
  width: 225px;
  font-size: 85%;
  border: 1px solid #d0d0d0;
  border-top: 0;
  background: #fff;
  z-index: 9998;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  h3 {
	margin: 20px 0 0;
	font-size: 12px;
	font-weight: bold;
	padding: 0 15px;
  }
  a {
	display: block;
	text-decoration: none;
	color: #3366cc;
	padding: 3px 15px;
	&:hover {
	  background: #e0e9f6;
	}
  }
  .login-out {
	background: #eee;
	margin: 15px 0 0;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	table {
	  width: 100%;
	  td {
		text-align: center;
		a {
		  padding: 8px 10px;
		}
	  }
	}
  }
  .service-links {
	margin: 7px 0 0;
	border-top: 1px solid #dfdfdf;
  }
}
.copyright {
  font-size: 10px;
  color: #555;
  text-align: center;
}
.serverID {
  position: absolute;
  top: 35px;
  right: 10px;
}
.helpId {
  background: transparent;
  bottom: -1px;
  left: 50px;
  position: fixed;
  z-index: 9999;
  padding: 3px;
}
#helpcontent {
  border: 1px solid #ddd;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  color: #dddddd;
  background: #fff;
  margin-bottom: -10px;
}
.dotcmsHelpButton {
  display: block;
  padding: 10px 25px;
  font-size: 12px;
  font-weight: bold;
  background: #000;
  margin-bottom: -1px;
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  color: #ddd;
  line-height: 14px;
  font-size: 11px;
  text-decoration: none;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  //Instead of the line below you could use @includeborder-top-left-radius($radius)
  border-top-left-radius: 8px;
  //Instead of the line below you could use @includeborder-top-right-radius($radius)
  border-top-right-radius: 8px;
  display: inline-block;
  outline: none;
  &:hover {
	background: #000;
	opacity: 0.9;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	color: #fff;
  }
}

.changeHost {
  float: right;
  font-size: 85%;
  height: 23px;
  padding: 0 15px 0 25px;
  cursor: pointer;
}
#changeHostId {
  display: inline-block;
  font-weight: bold;
  float: left;
  margin: 0 5px 0 0;
}
#hostSelectDialog {
  width: 300px;
}
.catPreview {
  height: 24px;
  margin: -9px -10px 10px;
  overflow: hidden;
  background-color: white;
  li {
	font-size: 85%;
	margin: 0;
	list-style: none;
	float: left;
	padding: 3px;
	line-height: 16px;
	margin: 1px;
	background-color: #ededed;
	border: 1px groove;
  }
  a {
	text-decoration: none;
	&:hover {
	  color: #cc0000;
	}
  }
}
.portlet-toolbar {
  padding: 5px 8px;
  a {
	text-decoration: none;
  }
}
#tablemessage {
  font-size: 80%;
  color: #cc0000;
}
.portlet-body {
  padding: 5px 15px 15px;
}
.buttonRow {
  text-align: center;
  padding: 10px 8px;
  line-height: 12px;
}
.formRow {
  text-align: center;
  padding: 10px 8px;
}
.buttonRightInBox {
  text-align: right;
  margin: 4px 10px 2px 0;
  font-weight: normal;
}
.buttonRightInBoxTab {
  position: absolute;
  text-align: right;
  z-index: 5;
  top: 3px;
  right: 15px;
}

.shadowBoxLine {
  margin-bottom: 15px;
  padding: 45px 5px 20px;
  border: 1px solid $gray-ligther;
  background: transparent url(/html/images/skin/portalTab_bg.gif) repeat-x 0 0;
}

.lineCenter {
  background: url(/html/images/skin/yuiBackgroundLine.gif) repeat-y center top;
}
.roundBox {
  border: 1px solid #d0d0d0;
  padding: 5px;
}
.listingTable {
  width: 99%;
  border: 1px solid #d0d0d0;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 11px;
  th {
	padding: 5px 8px;
	border: 1px solid #d0d0d0;
	border-top: none;
	font-weight: bold;
	background: #ececec;
	border-style: none none solid none;
  }
  td {
	padding: 5px 8px;
	border: 1px solid #d0d0d0;
	border-top: none;
	a {
	  text-decoration: none;
	}
	button {
	  font-size: 12px;
	}
	.dijitTextBox {
	  font-size: 12px;
	}
	table tr {
	  border: none;
	}
  }
  tr.selected {
	background-color: #e0e9f6;
  }
  table.dijitSelect {
	font-size: 12px;
  }
}
.sTypeTable {
  border: 1px solid #d0d0d0;
  border-collapse: collapse;
  font-size: 11px;
  margin: 0 auto;
}
.sTypeTd {
  vertical-align: top;
  min-width: 225px;
  white-space: nowrap;
  padding: 0;
  border: 1px solid #d0d0d0;
  padding-bottom: 20px;
}
.sTypeHeader {
  padding: 3px 10px;
  background: #f3f3f3;
  border-bottom: 1px solid #d0d0d0;
  font-weight: bold;
  white-space: nowrap;
  min-width: 175;
  border-bottom: 1px solid  silver;
}
#sTypeFile {
  margin-top: 20px;
  border-top: 1px solid #d0d0d0;
}
.relationLanguageFlag {
  th {
	padding: 0;
	border: 0;
  }
  td {
	padding: 0;
	border: 0;
  }
}
.myVarTable {
  border: 1px solid #d0d0d0;
  border-collapse: collapse;
  width: 100%;
  td {
	padding: 4px 10px;
	border: 1px solid #ddd;
  }
}
.messageBox {
  width: 250px;
  background-color: #fafafa;
  min-height: 125px;
  margin: 100px auto;
  z-index: 100;
  padding: 10px;
}
.noResultsMessage {
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
tr {
  &.alternate_1 {
	background: #ffffff;
	cursor: pointer;
	&:hover {
	  background: #e0e9f6 !important;
	}
  }
  &.alternate_2 {
	background: #f3f3f3;
	cursor: pointer;
	&:hover {
	  background: #e0e9f6 !important;
	}
  }
  &.active {
	background: #ffffcc;
	cursor: pointer;
  }
  &.pop_divider {
	border-top: 1px dotted  silver;
  }
}
.callOutBox {
  margin: 20px 0;
  background-color: #cdeafd;
  padding: 10px;
  text-align: center;
  border: 1px solid #d0d0d0;
}
.callOutBox2 {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  border: 1px solid #d0d0d0;
}
.hintBox {
  width: 250px;
  position: absolute;
  left: auto;
  margin-left: 320px;
  text-align: left;
  font-style: italic;
}
#loadingPermissionsAccordion {
  margin: 50px auto;
  width: 100px;
}
#fieldsTable {
  font-size: 88%;
  border-top: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  width: 100%;
}
#fieldsTableHeader {
  width: 100%;
  background: #ececec;
  border-bottom: 1px solid #d0d0d0;
}
.item_header_cell {
  text-align: left;
  float: left;
  height: 25px;
  padding-top: 5px;
  padding-left: 10px;
  font-weight: bold;
  border-left: 1px solid #d0d0d0;
}
#item_list {
  width: 100%;
}
.item_row {
  cursor: move;
  border-bottom: 1px solid #d0d0d0;
}
.item_cell {
  text-align: left;
  float: left;
  height: 25px;
  line-height: 20px;
  padding-top: 5px;
  padding-left: 10px;
  border-left: 1px solid #d0d0d0;
  width: 100px;
  overflow: hidden;
}
.excelDownload {
  text-align: right;
  padding: 5px 10px;
  font-size: 85%;
  a {
	text-decoration: none;
  }
}
.wrapperRight {
  margin: 0 0 0 275px;
  overflow: auto;
}
.fieldWrapper {
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
}
.fieldName {
  font-size: 93%;
  font-weight: bold;
  padding: 10px;
}
.fieldValue {
  float: left;
  margin: 0 0 0 20px;
}
.fieldValueText {
  color: #999;
  border: 1px solid #ddd;
  padding: 3px 8px;
  width: 400px;
}
.lockedAgo {
  display: block;
  color: #999;
  font-size: 11px;
  font-style: italic;
  line-height: 14px;
}
.required2 {
  color: #aa0000;
}
.dijitTooltipData {
  width: 50px !important;
}
.fieldWrapperSide {
  margin: 0 0 10px 0;
  padding: 0;
}
.fieldNameSide {
  float: left;
  font-weight: bold;
}
table {
  &.workflowInfo {
	margin: 10px 10px 20px 10px;
	th {
	  vertical-align: top;
	  text-align: right;
	  padding: 0 5px 10px 0;
	  font-weight: bold;
	  white-space: nowrap;
	}
	td {
	  vertical-align: top;
	  width: 100%;
	}
  }
  &.sTypeTd {
	vertical-align: top;
  }
  &.dojoxLegendNode {
	margin: 0 auto;
	width: 160px;
	td {
	  padding-bottom: 10px;
	}
  }
  &.bgThumbnail {
	margin: 5px 10px 15px;
	td {
	  padding: 10px;
	  div {
		padding: 4px;
		border: 1px solid #a0a0a0;
		margin: 6px;
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
		a {
		  border: 1px solid #a0a0a0;
		  padding: 2px;
		  display: block;
		}
	  }
	}
  }
  &.sTypeTable.sTypeItem {
	text-transform: uppercase;
	white-space: nowrap;
	min-width: 175;
  }
}
.fieldReadOnly {
  border-color: #eeeeee;
  background: blue;
}
.lineDividerTitle {
  background: #ececec;
  font-weight: bold;
  border: 1px solid #d0d0d0;
  padding: 5px 10px;
  margin: 30px 20px 20px 0;
}
.buttonRow-left {
  position: absolute;
  overflow: auto;
  left: 0;
  width: 250px;
  font-size: 93%;
  background: #eee;
  margin-top: 0;
  a {
	display: block;
	padding: 5px 10px;
	cursor: pointer;
	color: #555;
	background: #fff;
	border: 1px solid  silver;
	margin-bottom: -1px;
	&:hover {
	  background: #e0e9f6;
	}
	span {
	  margin-right: 5px;
	}
  }
  .gradient {
	color: #555;
	font-weight: bold;
	padding: 6px 10px;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#ffffff', endcolorstr='#e3e3e3',gradienttype=0 );
	background: linear-gradient(top, #ffffff 0,#e3e3e3 100%);
	background: #eeeeee;
	filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#ffffff', endcolorstr='#eeeeee',gradienttype=0 );
	background: linear-gradient(top, #ffffff 0,#eeeeee 100%);
  }
  .title {
	color: #555;
	font-weight: bold;
	padding: 6px 10px;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
  }
  .basic-prop {
	padding: 30px 10px 15px 15px;
  }
}
.gradient2 {
  background: #eeeeee;
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#ffffff', endcolorstr='#eeeeee',gradienttype=0 );
  background: linear-gradient(top, #ffffff 0,#eeeeee 100%);
}
.requiredBox {
  text-align: right;
  z-index: 9999;
  position: absolute;
  top: 130px;
  right: 60px;
}
.contentHint {
  display: block;
  color: #999;
  font-size: 11px;
  font-weight: normal;
  line-height: 14px;
  white-space: normal;
  font-style: italic;
}
.contentViewQuery {
  color: red;
  word-wrap: break-word;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
.contentViewTitle {
  font-weight: bold;
  padding-top: 10px;
  margin: 0;
}
.contentViewDialog {
  padding: 10px;
  padding-top: 0;
}
.secondColumn {
  dt {
	width: 20%;
  }
  dd {
	margin-left: 20%;
  }
}
.halfColumn {
  dt {
	width: 50%;
  }
  dd {
	margin-left: 50%;
  }
}
.inputSmall {
  width: 150px;
}
.inputMedium {
  width: 250px;
}
.inputLarge {
  width: 350px;
}

.buttonBoxRight {
  position: absolute;
  right: 35px;
  height: 35px;
  z-index: 10;
  line-height: 33px;
}
.buttonBoxRightTopPadding {
  position: absolute;
  right: 25px;
  height: 35px;
  z-index: 10;
  line-height: 33px;
  padding-top: 7px;
}
.buttonBoxLeftRightPane {
  position: absolute;
  right: 800px;
  height: 35px;
  z-index: 10;
  line-height: 33px;
  padding-top: 7px;
}
.buttonBoxLeftNoTop {
  position: absolute;
  left: 5px;
  top: 15px;
  height: 30px;
  z-index: 10;
  line-height: 18px;
}
.buttonBoxRightNoTop {
  position: absolute;
  right: 3px;
  top: 15px;
  height: 30px;
  z-index: 11;
  line-height: 18px;
}
.nameHeader {
  background-color: #f0f0f0;
  border: 1px solid $gray-ligther;
  margin-bottom: 10px;
  padding: 3px 10px;
  vertical-align: middle;
}
.warningHeader {
  background-color: #f0f0f0;
  color: yellow;
  border: 1px solid $gray-ligther;
  margin-bottom: 10px;
  padding: 3px 10px;
  vertical-align: middle;
}
.nameText {
  font-weight: bold;
  padding: 3px 0 5px;
  width: 200px;
  overflow: hidden;
}
.warningText {
  font-weight: bold;
  color: red;
  padding-top: 3px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  white-space: normal;
}
.alert-message {
  color: red;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  white-space: normal;
}
.tagsTextbox {
  width: 200px;
}
.tagsBox {
  height: 50px;
  width: 180px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid $gray-ligther;
  overflow: auto;
  a {
	font-size: 93%;
	color: #999;
  }
}
.tagsCaption {
  display: block;
  font-size: 93%;
  color: #999;
  line-height: 140%;
  font-size: 80%;
  margin: 3px 0 0 5px;
}
.suggestHeading {
  padding: 7px 10px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  background: url($skin-sprite) repeat-x scroll 0 -325px transparent;
  border-bottom: 1px solid #b3b3b3;
}
.suggestedTagsWrapper {
  position: absolute;
  left: 505px;
  z-index: 9999;
  background: #fff;
  border: 1px solid #b3b3b3;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 3px rgba(150, 150, 150, 0.5);
  width: 400px;
  a {
	color: #333;
	letter-spacing: 1px;
	text-decoration: none;
	display: inline-block;
	padding: 2px 5px 4px;
	line-height: 18px;
	margin: 0 8px 8px 0;
	background: #eee;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 5px;
	&:hover {
	  background: #568fbe;
	  color: #fff;
	}
  }
}
.suggestedTags {
  padding: 10px;
  color: #999999;
}
.tagsWrapper {
  width: 600px;
}
.fieldAlert {
  color: #cc0000;
}
.width-equals-200 {
  width: 200px;
}
.dotcms {
  .dijitButton {
	margin: 0 .2em;
	vertical-align: middle;
  }
  .dijitTextBox {
	margin: 0 .2em;
	vertical-align: middle;
  }
  .dijitComboBox {
	margin: 0 .2em;
	vertical-align: middle;
  }
  .dijitComboButton {
	margin: 0 .2em;
	vertical-align: middle;
  }
  .dijitAccordionTitle {
	line-height: 0;
	font-size: 0;
  }
  .dijitHostClosed {
	background: transparent url(/html/images/icons/globe-green.png) no-repeat scroll 0 0;
  }
  .dijitHostOpened {
	background: transparent url(/html/images/icons/globe-green.png) no-repeat scroll 0 0;
  }
  .dojoxColorPicker {
	border: 1px solid $gray-ligther;
	background: #ededed;
	border: 1px solid #cdcdcd;
  }
  .dojoxColorPickerUnderlay {
	border: 1px solid #a0a0a0;
	border: 1px solid $gray-ligther;
  }
}
.selectBoxImage {
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 2px;
  vertical-align: bottom;
}
.dotContextMenu {
  border-left: 1px solid #d1d1d1;
}
.clockIcon {
  background: url($dotcms-sprite) no-repeat -21px -620px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  background: url($dotcms-sprite) no-repeat -1px -1760px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.nodeAllIcon {
  background: url($dotcms-sprite) no-repeat -21px -1000px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.nodeInsertIcon {
  background: url($dotcms-sprite) no-repeat -1px -1020px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.container {
  background: url($dotcms-sprite) no-repeat -1px -1220px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.templateIcon {
  background: url($dotcms-sprite) no-repeat -21px -1220px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.targetIcon {
  background: url($dotcms-sprite) no-repeat -1px -1240px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.vlinksIcon {
  background: url($dotcms-sprite) no-repeat -21px -1260px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.bowserIcon {
  background: url($dotcms-sprite) no-repeat -1px -1280px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.contentIcon {
  background: url($dotcms-sprite) no-repeat -21px -1280px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.structureIcon {
  background: url($dotcms-sprite) no-repeat -1px -1320px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.formIcon {
  background: url($dotcms-sprite) no-repeat -21px -1320px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  background: url($dotcms-sprite) no-repeat -21px -1320px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.linkCheckIcon {
  background: url($dotcms-sprite) no-repeat -21px -1760px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.elasticsearchIcon {
  background: url($ajax-loader) no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.sServerIcon {
  background: url($dotcms-sprite) no-repeat -21px -1880px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  background: url($dotcms-sprite) no-repeat -21px -1880px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.pushIcon {
  background: url($dotcms-sprite) no-repeat -21px -1880px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.actionPanelPage {
  position: relative;
}
.actionTable {
  margin: 0;
  width: 100%;
  td {
	border-style: none none solid none;
	padding: 10px;
  }
  tr {
	&:hover {
	  background-color: #eff3f8;
	  cursor: pointer;
	}
	&.active {
	  background-color: #eff3f8;
	}
  }
}
#arrow {
  width: 23px;
  height: 36px;
  z-index: 9999;
  left: -23px;
  position: absolute;
}
.hideMe {
  display: none;
  position: absolute;
}
#actionPanel {
  position: fixed;
  border: 1px solid #d0d0d0;
  background: #fff;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 0;
}
#actionPanelContainer {
  background: #fff;
}
#actionPanelTableHeader {
  padding: 0;
  margin: 0;
}
.actionPanelContent {
  margin: 15px 20px;
  padding: 0 0 20px 0;
  font-size: 88%;
  h2 {
	font-size: 14px;
	font-weight: bold;
  }
  table {
	td {
	  padding: 2px 5px;
	}
	tr {
	  word-wrap: break-word;
	}
  }
  hr {
	border-bottom: 1px solid #d0d0d0;
	margin: 15px 0;
  }
  .bigBtn {
	width: 200px;
	padding: 8px 0;
  }
}
.green {
  color: #6baf73;
}
.yellow {
  color: #f6d57e;
}
.red {
  color: #cb4437;
}
.shimIcon {
  background: url(/html/images/shim.gif);
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
}
.welcome_wrapper {
  a {
	color: #3b3b3b;
	text-decoration: none;
	&:hover {
	  text-decoration: underline;
	}
  }
  td * {
  }
}
div {
  &.contextPopupMenuBox {
	z-index: 10000;
	width: 190px;
	display: block;
	border-top: 1px solid #437aad;
	border-bottom: 1px solid #437aad;
	padding: 0;
	a {
	  line-height: 18px;
	  padding: 3px 0;
	  height: 21px;
	  vertical-align: middle;
	}
	span {
	  margin: 0 8px;
	}
  }
  &#_dotHelpMenu {
	color: red;
  }
}
.contextMenuBox {
  z-index: 10000;
  width: 190px;
  display: block;
  border-top: 1px solid #437aad;
  border-bottom: 1px solid #437aad;
  padding: 0;
}
#dotCMSErrors {
  background-color: #ffbcbc;
  border: 1px solid  gray;
  width: 300px;
  overflow: auto;
  padding: 10px;
  margin-left: 100px;
  margin-bottom: 10px;
}
#dotCMSMessages {
  background-color: #fff;
  border: 1px solid  gray;
  width: 300px;
  overflow: auto;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#dotCMSMessagesTitle {
  font-weight: bold;
}
#dotCMSMessagesMessage {
  font-weight: bold;
}
#dotCMSMessagesClose {
  float: right;
}
#messagesTable {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 100px;
  z-index: 999;
  width: 500px;
  height: 50px;
  text-align: center;
  font-weight: bold;
}
#errorsTable {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 100px;
  z-index: 999;
  width: 500px;
  height: 50px;
  text-align: center;
  font-weight: bold;
}
.systemMessagesHolder {
  position: fixed;
  left: 50%;
  margin-left: -170px;
  width: 300px;
  z-index: 9999 !important;
}
.systemMessages {
  position: relative;
  padding: 20px 20px 30px 40px;
  color: #fff;
  background: rgba(0,0,0,0.8);
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 8px;
  cursor: pointer;
}
.messageIcon {
  position: absolute;
  top: 20px;
  left: 15px;
}
.errorMessages {
  position: relative;
  padding: 20px 20px 30px 40px;
  color: #fff;
  background: rgba(0,0,0,0.8);
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 8px;
  cursor: pointer;
  ul {
	list-style: disc;
	list-style-position: outside;
	margin: 0 0 3px 0;
	li {
	  list-style: disc;
	  list-style-position: outside;
	  margin: 0 0 3px 0;
	}
  }
}
.messageZone {
  position: fixed;
  z-index: 9999 !important;
  left: 50%;
  top: 30%;
  margin-left: -75px;
  width: 150px;
  padding: 20px;
  color: #fff;
  background: rgba(0,0,0,0.8);
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 8px;
}
.loadingIcon {
  background: url($ajax-loader) no-repeat left center;
  padding: 0 5px 0 3px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.typeCCol {
  white-space: nowrap;
  width: 100%;
  text-align: left;
}
.error-message {
  color: maroon;
  text-align: center;
}
.systemErrorsHolder {
  position: fixed;
  left: 50%;
  margin-left: -170px;
  width: 300px;
  z-index: 9999 !important;
}
.contentRowOver {
  background: #e0ecf8;
  font-weight: normal;
  cursor: pointer;
}
#saveContentErrors {
  background-color: #ffbcbc;
  border: 1px solid  gray;
  width: 300px;
  overflow: auto;
  padding: 10px;
  margin-left: 100px;
  margin-bottom: 10px;
}
#saveContentMessages {
  background-color: #fff;
  border: 1px solid  gray;
  width: 300px;
  overflow: auto;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#saveContentMessagesTitle {
  font-weight: bold;
}
#saveContentMessagesMessage {
  font-weight: bold;
}
#saveContentMessagesClose {
  float: right;
}
.loginAsWrapper {
  display: none;
  position: absolute;
  width: 250px;
  padding: 10px;
  background: white;
  border: 1px solid #cdcdcd;
}
#portal_login_as_users_select {
  text-align: left;
}
#portal_login_as_password {
  width: 150px;
}
#portal_loginas_errors {
  text-align: center;
  color: red;
  padding-bottom: 5px;
}
#dotCMS_lightbox_overlay {
  z-index: 1000;
  position: absolute;
  visibility: hidden;
  background: url(/html/js/dotcms-utils/overlay.png);
}
.dijitHostFoldersTreeWrapper {
  max-height: 250px;
  overflow: auto;
  position: absolute;
  z-index: 10000;
  background: white;
  border: 1px solid #adadad;
  padding: 7px;
}
.dijitRolesSelectTreeWrapper {
  overflow: auto;
  position: absolute;
  z-index: 10000;
  background: white;
  border: 1px solid #adadad;
  padding: 7px;
  float: none;
}
.filterBox {
  padding: 8px 10px;
}
.selectableFile {
  cursor: pointer;
  img {
	vertical-align: middle;
  }
}
.viewSelectorBox {
  padding: 5px;
  img {
	vertical-align: middle;
  }
}
.fileSelectorControls {
  &:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
  }
  input {
	float: left;
  }
  span.dijitButton {
	float: left;
  }
}
.thumbnailSliderWrapper {
  margin-bottom: 10px;
  &:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
  }
  table.dijitSlider {
	float: left;
  }
  img.imageFieldThumbnail {
	float: left;
  }
}
.thumbnailTD {
  width: 100%;
  td {
	border-bottom: 1px solid $gray-ligther;
	border-right: 1px solid $gray-ligther;
	height: 150px;
	text-align: center;
	width: 260px;
  }
}
.sideMenuWrapper {
  margin: 3px 0 0 10px;
}
.fileAjaxUploaderStatusMsg {
  padding-top: 3px;
  padding-left: 3px;
}
.fileAjaxUploaderFileName {
  padding-right: 6px;
  padding-top: 3px;
}
.siteOverview {
  font-weight: bold;
  text-align: center;
  margin: 15px 10px 20px;
  span {
	font-size: 300%;
	display: block;
	padding: 8px;
  }
}
#lineWrapper {
  overflow: hidden;
}
.noChart {
  background: #959595 url(/html/images/skin/lineChartBg.png) repeat-x left bottom;
  width: 100%;
  height: 130px;
  padding: 50px 20px 20px;
  span {
	display: block;
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	background: #aaa;
	border: solid 2px #f6f6f6;
	color: #fff;
	text-align: center;
	font-size: 131%;
  }
}
.noPie {
  background: url(/html/images/skin/pieBg.png;) no-repeat center top;
  width: 180px;
  height: 180px;
  margin: 0 auto 30px auto;
  padding: 60px 0 0;
  span {
	display: block;
	width: 125px;
	margin: 0 auto;
	padding: 5px;
	background: #aaa;
	border: solid 2px #f6f6f6;
	color: #fff;
	text-align: center;
  }
}
.contentletInnerTable {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  tr td {
	border: 0;
	padding: 0;
	margin: 0;
  }
}
.workflowActionLink {
  cursor: pointer;
  border: 1px solid  silver;
  margin-top: -1px;
  padding: 5px 0 5px 10px;
  background: #ffffff;
  &:hover {
	background: #e0e9f6;
  }
}
#contentletActionsHanger {
  padding: 10px;
}
#contentLockedInfo {
  height: 40px;
  border: 0 solid  red;
  overflow: hidden;
}
#contentActionsCp {
  height: 300px;
}
.lockedWarningDiv {
  position: absolute;
  z-index: 900;
  border: 0 dotted  red;
  width: 99%;
  height: 99%;
}
.dojoxColorPicker {
  padding: 8px;
  background: #ededed;
  border: 1px solid $gray-ligther;
  border-collapse: separate;
}
.dojoxColorPickerRightPad {
  padding-right: 8px;
}
.dojoxColorPickerBox {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0;
  padding: 0;
}
.dojoxColorPickerUnderlay {
  position: relative;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  z-index: 1;
}
.dojoxHuePickerUnderlay {
  position: relative;
  top: 0;
  left: 0;
  height: 150px;
  width: 20px;
  z-index: 1;
  text-align: center;
}
.dojoxHuePicker {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
}
.dojoxHuePickerPoint {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 8px;
  z-index: 3;
  cursor: move;
}
.dojoxColorPickerPoint {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 0;
  z-index: 3;
  cursor: move;
}
.dojoxColorPickerPreview {
  display: block;
  width: 45px;
  height: 45px;
  border: 1px solid #333;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  margin-left: 10px;
}
.dojoxColorPickerWebSafePreview {
  display: block;
  width: 25px;
  height: 25px;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #333;
}
.dojoxColorPickerOptional {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  padding: 8px;
  table {
	border-spacing: 4px;
	border: 0;
	margin: 5px;
	td {
	  padding: 3px;
	}
  }
  input {
	font-size: 11px;
	border: 1px solid #a7a7a7;
	width: 25px;
	padding: 1px 3px;
	line-height: 1.1em;
  }
}
.showPointer {
  cursor: pointer;
}
#_dotHelpResults {
  margin-left: 230px;
  border-left: 1px solid $gray-ligther;
  padding-left: 15px;
}

.sTypeItem a {
  display: block;
  padding: 2px 10px;
  text-decoration: none;
  &:hover {
	background: #e2ebfe;
  }
}
.divalt_1:hover {
  background: #e0e9f6 !important;
  div {
	background: #e0e9f6 !important;
  }
}
ul.withBullets li {
  list-style: circle;
}
td.dijitMenuArrowCell {
  width: 30px;
}
a.fakeDojoButton {
  background: #ffffff url(images/buttonEnabled.png) repeat-x scroll left bottom;
  border-color: #c0c0c0 #c0c0c0 #9b9b9b;
  border-style: solid;
  border-width: 1px;
  padding: 0.2em 0.5em 0.4em 0.4em;
  text-decoration: none;
  color: #555555;
  line-height: 17px;
  vertical-align: middle;
  text-align: left;
  margin: 0 4px;
  &:hover {
	background: #ffffff url(images/buttonHover.png) repeat-x scroll left bottom;
  }
  img {
	vertical-align: middle;
	margin-top: -2px;
  }
}
.permissionTableTitle td {
  text-align: center;
  width: 12%;
  font-size: 11px;
  line-height: 22px;
}
.permissionTable th.permissionTitle {
  padding: 0 0 0 10px;
  font-weight: bold;
  line-height: 22px;
  font-size: 11px;
}
.fileAjaxUploader div {
  float: left;
}
#pieChartLegend td {
  &.dojoxLegendIcon {
	vertical-align: top;
	padding: 3px 5px 0 0;
  }
  &.dojoxLegendText {
	text-align: left;
	vertical-align: top;
	font-size: 85%;
	line-height: 131%;
  }
}
.dojoxColorPickerPreviewContainer table {
  border-spacing: 6px 0;
}
.dojoxColorPickerHex input {
  width: 55px;
  font-size: 11px;
}