@import "./portlets/content-search";
@import "./portlets/legacy";

/* PORTLET STYLES 2.0 */
$panel-padding: $basic-padding * 2;

.portlet {
  &-main {
    padding: $panel-padding 0;
  }

  &-sidebar {
    padding: $panel-padding $panel-padding 0;
  }

  &-sidebar-wrapper {
    background-color: $gray-ligthest;
    border-right: solid 1px $gray-ligther;
  }

  &-wrapper {
    height: 100%;
  }

  &-pagination, &-toolbar, &-toolbar__actions, &-toolbar__info {
    display: flex;
    justify-content: space-between;
  }

  &-pagination {
    margin: $panel-padding;
  }

  &-pagination__results {
    flex: 1;
    align-self: center;
  }

  &-toolbar {
    margin: 0 $panel-padding $panel-padding;

    a {
      text-decoration: none;
    }
  }

  &-toolbar__actions {
    .export-button {
      margin-right: $panel-padding;
    }
  }

  &-toolbar__info {
    flex: 1;
    align-self: center;

    .contentlet-results {
      color: $gray;
      margin-right: $panel-padding;
      flex: 1;
      text-align: right;
    }
  }

  .dijitTabPaneWrapper .dijitContentPane .dijitContentPane {
    padding: 0;
  }
}

#tablemessage {
  color: #cc0000;
}