.file-selector-tree {
  &.dijitDialog{
    height: 90vh;
    width: 90vw;
  }

  .dijitDialogPaneContent {
    padding: 0;
  }

  .portlet-sidebar-wrapper {
    height: 84vh !important;
    width: 200px;
  }

  .selectableFile {
    display: flex;

    img {
      margin-right: $basic-padding / 2;
    }
  }

  .portlet-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 84vh !important;
    justify-content: space-between;
    padding: 0;
    overflow-y: scroll;
  }
}

.file-selector-tree__container {
  width: 90vw;
  height: 84vh !important;
}

.file-selector-tree__pagination {
  &.portlet-pagination{
    background: #FFFFFF;
    padding: $basic-padding * 2;
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin: 0;
  }
}

.file-selector-tree__loading,
.file-selector-tree__no-results,
.file-selector-tree__select-folder {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.file-selector-tree__main {
  display: flex;
  height: 84vh !important;
  width: calc(100% - 200px) !important;
}

.file-selector-tree__sidebar {
  padding: $basic-padding * 2;

  .dijitTreeContainer {
    float: none;
  }

  .dijitTreeNode {
    padding: $basic-padding / 2 0;
  }
}

.file-selector-tree__table {
  display: flex;
  flex: 1;
}

.file-selector-tree__toolbar {
  background-color: $gray-ligther;
  margin: 0;
  padding: $basic-padding * 2;
}

.file-selector-tree__views-menu {
  display: flex;

  span {
    margin-right: $basic-padding / 2;
    font-weight: bold;
  }

  img {
    cursor: pointer;
    margin: 0 $basic-padding / 2;
  }
}