.related-content-dialog {
  width: 900px;
  height: 550px;

  .dijitDialogPaneContent {
    padding: 0;
  }

  .portlet-sidebar-wrapper {
    width: 200px;
  }
}

.related-content-container,
.related-content-form {
  height: 100%;
}

.related-content-form {
  width: 900px;
}