.related-content-dialog {
    background: url('/html/images/backgrounds/relate-content-dia.png') !important;
    background-position: left;  
    background-repeat: repeat-y;
    height: 90%;
    width: 90%;

  .dijitDialogPaneContent {
    padding: 0;
  }

  .portlet-sidebar-wrapper {
    width: 200px;
  }
}

.related-content-container,
.related-content-form {
  height: 100%;
}

.related-content-form {
  width: 1000px;
  height: 660px;
}