.dijit {

  &Icon {
    @extend #font-icon-base;
    width: $icon-size;
    height: $icon-size;
    margin-right: $field-padding / 2;

    &Task {
      &:before {
        content: $fa-var-tasks;
      }
    }

    &Edit {
      &:before {
        content: $fa-var-edit;
      }
    }

    &Save {
      &:before {
        content: $fa-var-save;
      }
    }

    &Cut {
      &:before {
        content: $fa-var-cut;
      }
    }

    &Copy {
      @extend #font-icon-base;
      &:before {
        content: $fa-var-copy;
      }
    }

    &Paste {
      &:before {
        content: $fa-var-paste;
      }
    }

    &Undo {
      &:before {
        content: $fa-var-undo;
      }
    }

    &Delete {
      &:before {
        content: $fa-var-remove;
      }
    }

    &Expand {
      &:before {
        content: $fa-var-angle-right;
      }
    }
  }

  // USED IN THE TOGGLE BUTTON WIDGET
  &CheckBoxIcon {
    &:before {
      content: $fa-var-check-square-o;
    }
  }

  .dijitNoIcon {
    width: auto;
    height: auto;
    margin-right: 0;
  }
}