// TODO: design it :)

.dijitInline {
  .dijitButton {
    margin: 5px 5px 0 0;
  }

  .dijitButton {
    line-height: normal;
  }

  .dijitTextBox,
  .dijitInputInner {
    height: auto;
    line-height: normal;
    padding: 0
  }

  &EditBoxDisplayMode {
    @include transition(background-color, border-color, $field-animation-speed);

    &Hover {
      @include border-radius(2px);
      border: solid $inlineeditbox-hover-border-size $inlineeditbox-hover-border-color;
      background: $inlineeditbox-hover-bgcolor;
    }

    // TODO: check why the original class don't work
    &.dijitOffScreen {
      display: none;
    }
  }

}