// TODO: find a better location for this
#font-icon-base {
  font: normal normal normal #{$fa-font-size-base}/1 FontAwesome; // shortening font declaration
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); // ensures no half-pixel rendering in firefox
}

@mixin center-icon($width, $height, $direction: "") {
  left: 50%;
  @if $direction == right or $direction == left {
    margin-left: -($height / 2);
    margin-top: -($width / 2);
  } @else {
    margin-left: -($width / 2);
    margin-top: -($height / 2);
  }
  position: absolute;
  top: 50%;
}

@mixin mouse {
  font-size: 11px; // TODO: set a variable
  color: $gray-ligth;
}

@mixin create-arrow($arrow-size, $arrow-color, $direction: "") {
  @include center-icon($arrow-size * 2, $arrow-size, $direction); // Sadly compass can't get width and height from a svg

  @if $direction == right {
    border-top: $arrow-size solid transparent;
    border-bottom: $arrow-size solid transparent;
    border-left: $arrow-size solid $arrow-color;
  } @elseif $direction == left {
    border-top: $arrow-size solid transparent;
    border-bottom: $arrow-size solid transparent;
    border-right: $arrow-size solid $arrow-color;
  } @elseif $direction == up {
    border-left: $arrow-size solid transparent;
    border-right: $arrow-size solid transparent;
    border-bottom: $arrow-size solid $arrow-color;
  } @else {
    border-left: $arrow-size solid transparent;
    border-right: $arrow-size solid transparent;
    border-top: $arrow-size solid $arrow-color;
  }
  content: "";
  height: 0;
  width: 0;
}

@mixin box_shadow ($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  } @else if $level == 'none' {
    box-shadow: none;
  }
}

@mixin btn ($shadow: none, $bg: $button-normal-bgcolor, $border: $button-normal-border, $color: $button-normal-textcolor) {
  background-color: $bg;
  border: $border;
  color: $color;

  @if ($shadow != "none") {
    box-shadow: $shadow;
  }
}