// COLORS
$black: #000;
$blue-light: #1FA1D8;
$blue: #108AC8;
$gray-dark: #45545B;
$gray-ligth: #BABEC1;
$gray-ligther: #CACED0;
$gray-ligthest: #ECEDEE;
$gray: #68757E;
$green-ligth: #77BE61;
$green: #4A9D51;
$orange: #F3762A;
$white: #fff;

// TYPOGRAPHY
$body-size: 12px;
$body-text: 'Open Sans', sans-serif;
$text-color: $gray-dark;

// Basic stuffs
$border-radius: 2px;
$icon-size: 16px;
$basic-padding: 10px;

// FORMS

// Common
$field-animation-speed: .25s;
$field-border-color: $gray-ligther;
$field-border-radius: $border-radius;
$field-border-size: 1px;
$field-disabled-border-color: rgba($gray-dark, .4);
$field-disabled-text-color: rgba($gray-dark, .4);
$field-height: 29px;
$field-padding: $basic-padding;
$field-placeholder-color: rgba($gray-dark, .4);

// Button
$button-normal-bgcolor: $gray-ligthest;
$button-normal-textcolor: $gray-dark;
$button-normal-border: solid 1px $gray-ligther;

$button-hover-bgcolor: $gray-ligthest;
$button-hover-textcolor: $gray-dark;
$button-hover-border: solid 1px $gray-dark;

$button-active-bgcolor: $white;
$button-active-textcolor: $blue;
$button-active-border: solid 1px $blue;

$button-disabled-bgcolor: $gray-ligthest;
$button-disabled-textcolor: $gray-ligther;
$button-disabled-border: solid 1px #E3E4E6;


// DropDownButton
$dropdownbutton-arrow-size: 5px;
$dropdownbutton-arrow-container-size: $field-height;

$dropdownbutton-normal-bgcolor: $button-normal-bgcolor;
$dropdownbutton-normal-textcolor: $button-normal-textcolor;
$dropdownbutton-normal-border: $button-normal-border;
$dropdownbutton-normal-arrow-bgcolor: transparent;
$dropdownbutton-normal-arrow-url: false;
$dropdownbutton-normal-arrow-color: $gray-dark;

$dropdownbutton-hover-bgcolor: $button-hover-bgcolor;
$dropdownbutton-hover-textcolor: $button-hover-textcolor;
$dropdownbutton-hover-border: $button-hover-border;
$dropdownbutton-hover-arrow-bgcolor: transparent;
$dropdownbutton-hover-arrow-url: false;
$dropdownbutton-hover-arrow-color: $gray-dark;

$dropdownbutton-active-bgcolor: $button-active-bgcolor;
$dropdownbutton-active-textcolor: $button-active-textcolor;
$dropdownbutton-active-border: $button-active-border;
$dropdownbutton-active-arrow-bgcolor: transparent;
$dropdownbutton-active-arrow-url: false;
$dropdownbutton-active-arrow-color: $blue;

$dropdownbutton-focused-bgcolor: $gray-ligther;
$dropdownbutton-focused-textcolor: $gray-dark;
$dropdownbutton-focused-border: solid 1px $gray-ligther;
$dropdownbutton-focused-arrow-bgcolor: transparent;
$dropdownbutton-focused-arrow-url: false;
$dropdownbutton-focused-arrow-color: $blue;

$dropdownbutton-disabled-bgcolor: $gray-ligthest;
$dropdownbutton-disabled-textcolor: $gray-ligther;
$dropdownbutton-disabled-border: $button-disabled-border;
$dropdownbutton-disabled-arrow-bgcolor: transparent;
$dropdownbutton-disabled-arrow-url: false;
$dropdownbutton-disabled-arrow-color: $gray-ligther;

// ComboButton
$combobutton-arrow-size: 5px;
$combobutton-arrow-container-size: $field-height;

$combobutton-normal-bgcolor: $button-normal-bgcolor;
$combobutton-normal-textcolor: $button-normal-textcolor;
$combobutton-normal-border: $button-normal-border;
$combobutton-normal-arrow-bgcolor: transparent;
$combobutton-normal-arrow-url: false;
$combobutton-normal-arrow-color: $gray-dark;
$combobutton-normal-arrow-border: $combobutton-normal-border;

$combobutton-hover-bgcolor: $button-hover-bgcolor;
$combobutton-hover-textcolor: $button-hover-textcolor;
$combobutton-hover-border: $button-hover-border;
$combobutton-hover-arrow-bgcolor: transparent;
$combobutton-hover-arrow-url: false;
$combobutton-hover-arrow-color: $gray-dark;
$combobutton-hover-arrow-border: $combobutton-hover-border;

$combobutton-active-bgcolor: $button-active-bgcolor;
$combobutton-active-textcolor: $button-active-textcolor;
$combobutton-active-border: $button-active-border;
$combobutton-active-arrow-bgcolor: transparent;
$combobutton-active-arrow-url: false;
$combobutton-active-arrow-color: $blue;
$combobutton-active-arrow-border: $combobutton-active-border;

$combobutton-focused-bgcolor: $gray-ligther;
$combobutton-focused-textcolor: $button-normal-textcolor;
$combobutton-focused-border: solid 1px $gray-ligther;
$combobutton-focused-arrow-bgcolor: transparent;
$combobutton-focused-arrow-url: false;
$combobutton-focused-arrow-color: $button-normal-textcolor;
$combobutton-focused-arrow-border: solid 1px $gray-ligther;

$combobutton-disabled-bgcolor: $button-normal-bgcolor;
$combobutton-disabled-textcolor: $gray-ligther;
$combobutton-disabled-border: $button-disabled-border;
$combobutton-disabled-arrow-bgcolor: transparent;
$combobutton-disabled-arrow-url: false;
$combobutton-disabled-arrow-color: $gray-ligther;
$combobutton-disabled-arrow-border: $button-disabled-border;

//ToggleButton
$togglebutton-normal-bgcolor: $gray-ligthest;
$togglebutton-normal-textcolor: $gray-dark;
$togglebutton-normal-border: solid 1px $gray-ligther;

$togglebutton-hover-bgcolor: $gray-ligthest;
$togglebutton-hover-textcolor: $gray-dark;
$togglebutton-hover-border: solid 1px $gray-dark;

$togglebutton-active-bgcolor: $white;
$togglebutton-active-textcolor: $blue;
$togglebutton-active-border: solid 1px $blue;

$togglebutton-disabled-bgcolor: $gray-ligthest;
$togglebutton-disabled-textcolor: $gray-ligther;
$togglebutton-disabled-border: solid 1px #E3E4E6;

// Text Fields
$textbox-arrow-size: 5px;

$textbox-normal-border: solid $field-border-size $gray-ligther;
$textbox-normal-bgcolor: $white;
$textbox-normal-arrow-color: $gray-dark;
$textbox-normal-arrow-border: $textbox-normal-border;
$textbox-normal-arrow-bgcolor: $white;

$textbox-hover-border: solid $field-border-size $gray-dark;
$textbox-hover-bgcolor: $white;
$textbox-hover-arrow-color: $gray-dark;
$textbox-hover-arrow-border: $textbox-hover-border;
$textbox-hover-arrow-bgcolor: $white;
// Hover the field and hover the arrow
$textbox-hoverarrow-arrow-color: $gray-dark;
$textbox-hoverarrow-arrow-border: $textbox-hover-border;
$textbox-hoverarrow-arrow-bgcolor: $gray-ligther;


$textbox-focused-border: solid $field-border-size $blue;
$textbox-focused-bgcolor: $white;
$textbox-focused-arrow-color: $blue;
$textbox-focused-arrow-border: $textbox-focused-border;
// Hover the field and hover the arrow
$textbox-focusedarrow-arrow-color: $textbox-focused-arrow-color;
$textbox-focusedarrow-arrow-border: $textbox-focused-border;
$textbox-focusedarrow-arrow-bgcolor: rgba($blue, 0.1);

$textbox-disabled-border: solid $field-border-size $gray-ligther;
$textbox-disabled-bgcolor: $gray-ligthest;
$textbox-disabled-textcolor: $gray-ligther;
$textbox-disabled-arrow-color: $gray-ligther;
$textbox-disabled-arrow-border: $textbox-disabled-border;

// Checkboxes
$check-border-width: 1px;
$check-radius: 2px;
$check-size: 16px;
$check-normal-border-color: $gray-dark;
$check-normal-bgcolor: $white;
$check-checked-border-color: $gray-dark;
$check-checked-bgcolor: $white;
$check-checked-icon: "/images/ico-checkbox.svg"; // TODO: move this to base64?
$check-disabled-border-color: $gray-ligther;
$check-disabled-bgcolor: $gray-ligthest;
$check-disabled-icon: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTFweCIgaGVpZ2h0PSI5cHgiIHZpZXdCb3g9IjAgMCAxMSA5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4gICAgICAgIDx0aXRsZT5QYXRoIDkzMiBDb3B5PC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8cGF0aCBkPSJNMSwzLjkwOTUzNDMxIEw0LjA2NjA1NTkzLDcgTDEwLDEiIGlkPSJQYXRoLTkzMi1Db3B5IiBzdHJva2U9IiNDQUNFRDAiIHN0cm9rZS13aWR0aD0iMiIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCI+PC9wYXRoPiAgICA8L2c+PC9zdmc+";

// RadioButtons
$radio-radius: 2px;
$radio-size: 16px;
$radio-border-width: 1px;
$radio-normal-border-color: $gray-dark;
$radio-normal-bgcolor: $white;
$radio-checked-color: $gray-dark;
$radio-checked-border-color: $gray-dark;
$radio-checked-bgcolor: $white;
$radio-checked-disabled-color: $gray-ligther;
$radio-disabled-border-color: $gray-ligther;
$radio-disabled-bgcolor: $gray-ligthest;

// Sliders
$slide-handle-bordercolor: $gray-dark;
$slide-handle-bordersize: 2px;
$slide-handle-color: $white;
$slide-handle-focused-bordercolor: $white;
$slide-handle-focused-color: $gray-dark;
$slide-mark-color: $gray-ligth;
$slide-mark-hover-color: $gray-dark;
$slide-rule-color: $gray-ligth;
$slide-rule-hover-color: $gray-dark;
$slider-handle-size: 16px;
$slider-progress-color: $gray-dark;
$slider-remaining-color: $gray-ligther;

// Menus
$menu-bgcolor: $white;
$menu-item-bgcolor: $menu-bgcolor;
$menu-item-separator-width: 1px;
$menu-item-separator-color: $gray-ligther;
$menu-item-hover-bgcolor: $gray-ligthest;
$menu-item-hover-textcolor: $gray-dark;
$menu-item-selected-bgcolor: $blue;
$menu-item-selected-textcolor: $white;

// Calendar
$calendar-item-size: $field-height;
$calendar-month-bgcolor: $gray-dark;
$calendar-month-textcolor: $white;
$calendar-weekday-label-bgcolor: $blue;
$calendar-weekday-label-textcolor: $white;
$calendar-date-bgcolor: $white;
$calendar-date-textcolor: $gray-dark;
$calendar-date-hover-bgcolor: rgba($blue, 0.15);
$calendar-date-hover-textcolor: $text-color;
$calendar-date-seleted-bgcolor: $orange;
$calendar-date-seleted-textcolor: $white;
$calendar-prev-next-month-date-bgcolor: $gray-ligthest;
$calendar-prev-next-month-date-textcolor: $gray-ligther;
$calendar-prev-next-month-date-hover-bgcolor: $gray-ligthest;
$calendar-prev-next-month-date-hover-textcolor: $gray-ligth;
$calendar-year-label-bgcolor: $gray-dark;
$calendar-year-label-textcolor: $white;

// Content Panel
$panel-border-color: $gray-ligther;
$panel-border-size: 1px;
$panel-title-open-bgcolor: $gray-dark;
$panel-title-open-textcolor: $white;
$panel-title-hover-bgcolor: $blue;
$panel-title-hover-textcolor: $white;
$panel-title-close-bgcolor: $gray-dark;
$panel-title-close-textcolor: $white;

// Progress Bar
$progressbar-border-size: 1px;
$progressbar-border-color: $gray-dark;
$progressbar-bgcolor: $white;
$progressbar-tile-bgcolor: $gray-ligther;
$progressbar-heigth: 30px;

// Inline Edit Box
$inlineeditbox-hover-border-size: $field-border-size;
$inlineeditbox-hover-border-color: $textbox-focused-border;
$inlineeditbox-hover-bgcolor: $textbox-focused-bgcolor;

// Tabs
$tab-border: solid 1px $gray-ligther;
$tab-inactive-bgcolor: $gray-ligther;
$tab-inactive-textcolor: $text-color;
$tab-active-bgcolor: $white;
$tab-active-textcolor: $text-color;
$tab-strip-bgcolor: $blue;
$tab-strip-border: solid 1px $white;
$tab-strip-icon-color: $white;