.dijitTabContainerTop-tabs,
.dijitTabContainerBottom-tabs {
  padding-left: 1px
}

.dijitTabContainerTop-tabs {
  border-bottom: solid 1px $gray-ligther;
}

.dijitTabContainerBottom-tabs {
  border-top: solid 1px $gray-ligther;
}

.dijitTabContainerBottom-container,
.dijitTabContainerTop-container,
.dijitTabContainerLeft-container,
.dijitTabContainerRight-container {
  border: solid 1px $gray-ligther;
}

.dijitTabContainerTop-container {
  border-top: 0;
}

.dijitTabContainerBottom-container {
  border-bottom: 0;
}

.dijitTab {
  @include transition(background-color $field-animation-speed); // TODO: move this to layout/common.scss?
  background-color: $gray-ligther;
  border: solid 1px $gray-ligther;
  border-bottom: none;
  height: $field-height;
  margin-right: -1px;
  padding: 0 $field-padding;

  &:first-child {
    margin-right: 0;
  }

  .tabLabel {
    line-height: $field-height;
  }

  &.dijitTabChecked {
    background-color: $white;
  }
}

.dijitTabPane {
  padding: 0 20px ;
}

