// In this file we are doing overwrite for DotCMS admin of global things in the Dojo Widgets

.dijitTextBox,
.dijitSelect {
  width: 100%;
  max-width: $content-edit-field-max-width;
}

.dijitComboBox {
  width: auto;
}

// MultiSelect widget in Dojo 1.8.3 doesn't have any special class or behaviour, we just style it as usual
select[multiple] {
  border: $field-normal-border;
  min-height: 80px;
  width: 100%;

  &:hover {
    border: $field-hover-border;
  }
}

// CUSTOM BUTTONS FOR DOTCMS UI
.fakeDojoButton {
  @include btn($button-normal-shadow, $button-normal-bgcolor, $button-normal-border, $button-normal-textcolor);
  @include transition(all $field-animation-speed);
  border-radius: $field-border-radius;
  display: inline-block;
  height: $field-height;
  line-height: $field-height;
  padding: 0 $basic-padding * 2;
  text-decoration: none;

  &:hover {
    @include btn($button-hover-shadow, $button-hover-bgcolor, $button-hover-border, $button-hover-textcolor);
  }

  img {
    vertical-align: middle;
    margin-top: -2px;
  }
}

.fakeDojoButtonDanger {
  background-color: $brand-secondary;
  color: $white;

  &:hover {
    background-color: darken($brand-secondary, 10%);
    color: $white;
  }
}

.dijit {
  &DropDownActionButton {
    border: none;
    border-radius: $field-height / 2;
    width: $field-height;

    .actionIcon {
      line-height: $field-height;
      margin: 0;
    }

    .dijitButtonNode {
      height: $field-height;
      width: $field-height;
    }

    .dijitArrowButtonInner {
      display: none;
    }

    .dijitButtonNode {
      padding: 0;
    }
  }

  &ButtonFlat {
    background-color: transparent;
    box-shadow: none;
    color: $brand-primary;

    &.dijitButtonHover {
      background-color: $gray-ligther;
    }
  }

  &ButtonDanger {
    background-color: $brand-secondary;
    color: $white;

    &.dijitButtonHover {
      background-color: darken($brand-secondary, 10%);
    }
  }

  &ButtonAction {
    background-color: $brand-primary;
    color: $white;

    &.dijitButtonHover {
      background-color: darken($brand-primary, 10%);
    }
  }
}

.dotCMSHostFileFilteringSelect {
  .dijitTextBox {
    width: auto;
  }
}