@import "legacy";
@import "fields";

/*
------------ FORMS ------------
- Extract from: base.css
- Handle vertical and horizontal forms
*/

#label {
  color: $gray-dark;
  display: block;
  font-size: $font-size-small;
  margin-bottom: $basic-padding / 2;
}

#checkbox-radio {
  margin: $basic-padding 0;
  display: flex;
  align-items: center;

  & > .dijit {
    margin-right: $basic-padding / 2;
  }
}

#inline-form {
  align-items: center;
  display: flex;

  & > label {
    margin-right: $basic-padding;
    white-space: nowrap;
  }

  .dijit {
    margin-right: $basic-padding;

    &:last-child {
      margin-right: 0;
    }
  }
}

.required2 {
  color: $brand-secondary;
  font-weight: bold;
}

.hint-text {
  font-size: 11px;
  color: #999;
  display: block;
  line-height: normal;
  margin-top: 5px;
}

dl {
  //margin: 0;

  // Just for the Add/Edit Field form
  // TODO: add a class to style this
  &#indexed,
  &#listed,
  &#required,
  &#unique,
  &#userSearchable {
    dd {
      min-height: auto;
      line-height: normal;

      .dijitCheckBox {
        margin: 0;
      }
    }
  }

  &.vertical {
    dd, dt {
      clear: none;
      float: none;
      margin: 0;
      padding: 0;
      text-align: inherit;
      width: auto;
    }

    dt {
      label {
        @extend #label;
      }
    }

    dd {
      margin-bottom: $basic-padding * 2;
    }
  }

  &.radio-check-one-line {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: $basic-padding * 2;

    dt, dd {
      float: none;
      margin: 0;
      min-height: 0;
      padding: 0;
      text-align: left;
      width: auto;
    }

    dd {
      .radio, .checkbox {
        display: inline-block;
        margin: 0;
      }
    }
  }
}

dd,
dt {

  &.wide {
    clear: both;
    width: auto;
  }
}

dt {
  clear: left;
  float: left;
  padding: 6px 0px 7px;
  text-align: right;
  width: 30%;
}

dd {
  margin: 0 0 $field-padding * 2 30%;
  min-height: $field-height;
  padding-left: $field-padding;

  .inputCaption,
  .buttonCaption {
    padding-left: $field-padding !important;
  }

  .radio, .checkbox {
    @extend #checkbox-radio;
  }
}

// INLINE FORM

.inline-form {
  @extend #inline-form;
}

// EDIT CONTENT FORMS

.field {
  &Wrapper {
    margin-bottom: $basic-padding * 2;
  }

  &Name {
    @extend #label;
  }

  &Value {
    .radio, .checkbox {
      @extend #checkbox-radio;
    }
  }
}