// LEGACY CODE
// Not sure where is being use or if is useful at all.
// We figure it out as we work on more porlets.

.buttonRow {
  text-align: center;
}


.toggleEditorField,
.langVariablesField {
  margin-top: $field-padding;
}

.glossaryTermPopup {
  background-color: rgba($orange, 0.2);
  @include border-radius($border-radius);
  padding: ($field-padding / 2) $field-padding;
  border: solid 1px $orange;
  position: absolute;
}

.langVariablesField {
  position: relative;

  .glossaryTermPopup {

    right: 0;
    top: 0;
  }
}

.WYSIWYGTools {
  margin-top: $field-padding;

  .glossaryTermPopup {
    left: 150px;
    top: 35px;
  }
}

// WORKFLOW TASK SEARCH FORM

.filter-tasks-frm {
  margin: 56px 20px 0 0;

  .who-user {
    label {
      margin-right: $field-padding / 2;
    }
  }
}