.dijitButton,
.dijitComboButton,
.dijitDropDownButton,
.dijitToggleButton {
  margin: 0;

  .dijitButtonNode {
    border: none;
    padding-left: $field-padding;
  }
}

.dijitButton,
.dijitToggleButton {
  padding-right: $field-padding;
}

.dijitButton,
.dijitDropDownButton,
.dijitToggleButton {
  .dijitButtonText {
    line-height: $field-height - 2px;
    height: $field-height - 2px; // Need to substract the border (top and bottom)
  }
}

.dijitButton {
  background-color: $button-bgcolor;
  color: $button-textcolor;

  &.alt { // TODO: define buttons types
    background-color: $gray-ligther;
    color: $gray;
  }

  &Hover {
    background-color: $button-hover-bgcolor;
    color: $button-hover-textcolor;

    &.alt {
      background-color: $gray-ligth;
      color: $white;
    }
  }

  &Focused {
    background-color: $button-active-bgcolor;
    color: $button-active-textcolor
  }
}

.dijitComboButton,
.dijitDropDownButton {
  &Hover {
    border-color: $buttondrop-hover-bgcolor;
    background-color: $buttondrop-hover-bgcolor;
    color: $buttondrop-hover-textcolor;
  }
}

.dijitComboButton {
  &Hover {
    .dijitArrowButtonInner {
      background-color: $buttondrop-hover-bgcolorarrow;
    }
  }
}

.dijitDropDownButton {
  &Hover {
    .dijitArrowButtonInner {
      &:before {
        background-image: url("/images/ico-arrow-sm-light.svg");
      }
    }
  }

  .dijitButtonText {
    margin-right: $field-padding;
  }
}

.dijitToggleButton {
  &Hover {
    background-color: $buttontoggle-hover-bgcolor;
    color: $buttontoggle-hover-textcolor;
  }

  &Checked {
    border-color: $button-active-bgcolor;
    background-color: $button-active-bgcolor;
    color: $button-active-textcolor
  }
}

