.dijitArrowButton,
.dijitArrowButtonInner {
  height: $field-height - 2px; // Need to substract the border (top and bottom)
  border: none;
  padding: 0;
}

.dijitArrowButton,
.dijitButton,
.dijitComboButton,
.dijitDropDownButton,
.dijitTextBox,
.dijitToggleButton {
  @include transition(background-color $field-animation-speed);
}

.dijitButton,
.dijitComboButton,
.dijitDropDownButton,
.dijitTextBox,
.dijitToggleButton {
  @include border-radius($field-border-radius);
  border: solid 1px $field-border-color;
  height: $field-height;
}

.dijitDisabled {
  border-style: dotted;
  @include opacity(0.3);

  &.dijitCheckBox,
  &.dijitCheckBoxInput,
  &.dijitRadio {
    border-style: solid;
  }
}

.dijitInputInner {
  color: $text-color;
  line-height: $field-height;
}

.dijitIcon {
  width: $field-icon-size;
  height: $field-icon-size;
  border: solid 1px $gray-dark;
  margin-right: $field-padding / 2;
}

.dijitTextBox {
  padding: 0 $field-padding;
  width: 100%;

  &Hover {
    @include box-shadow(0 0 $textbox-hover-shadow-size 0 rgba($gray-dark, 0.35));

    &Focused {
      @include box-shadow(none);
    }
  }

  &Focused {
    border-color: $blue;
    background-color: rgba($blue, 0.1);
  }
}

.dijitPlaceHolder {
  color: $field-placeholder-color;
  font-style: normal;
  line-height: $field-height;
}

.dijitTextArea {
  font-family: $body-text;
  font-size: $body-size;
  color: $text-color;
  padding: $field-padding / 2 $field-padding;
}