fieldset {
  border: none;
  padding: 0;
}


.dijitArrowButton,
.dijitArrowButtonInner {
  height: $field-height - 2px; // Need to substract the border (top and bottom)
}

.dijitArrowButton,
.dijitArrowButtonInner {
  background-image: url("/images/ico-combobox.svg");
  background-position: 10px;
  border: none;
  padding: 0;
}

.dijitArrowButton,
.dijitButton,
.dijitComboButton,
.dijitDropDownButton,
.dijitTextBox,
.dijitToggleButton {
  @include transition(background-color $field-animation-speed);
}


.dijitButton,
.dijitComboButton,
.dijitDropDownButton,
.dijitTextBox,
.dijitToggleButton {
  @include border-radius($field-radius);
  border: solid 1px $gray-dark;
  height: $field-height;
}

.dijitDisabled {
  border-style: dotted;
  @include opacity(0.3);

  &.dijitCheckBox,
  &.dijitCheckBoxInput,
  &.dijitRadio {
    border-style: solid;
  }
}

.dijitIcon {
  width: 16px;
  height: 16px;
  border: solid 1px $gray-dark;
  margin-right: 5px;
}

.dijitTextBox {
  padding: 0 $field-padding;
  width: 100%;
}

.dijitTextBoxHover {
  @include box-shadow(0 0 $textbox-hover-shadow-size 0 $gray-ligth);
}

.dijitTextBoxFocused {
  border-color: $blue;
  background-color: rgba($blue, 0.1);
}

.dijitInputInner {
  color: $text-color;
  line-height: $field-height;
}

.dijitPlaceHolder {
  color: $field-placeholder-color;
  font-style: normal;
  line-height: $field-height;
}

.dijitTextArea {
  font-family: $body-text;
  font-size: $body-size;
  color: $text-color;
  padding: $field-padding / 2 $field-padding;
}