.dijitAccordionContainer {
  border: none;

  .dijitAccordionContainer-child {
    padding: $basic-padding;
  }
}

.dijitAccordionInnerContainer {
  border: solid 1px $gray-ligther;
  margin-bottom: 5px;
}

.dijitAccordionTitle {
  padding: 5px;
}

.dijitAccordionTitleSelected {
  background-color: $gray-ligther;
  font-weight: bold;
}