.dijitTab {
  @include transition(background-color $field-animation-speed); // TODO: move this to layout/common.scss?
  background-color: $tab-inactive-bgcolor;
  color: $tab-inactive-textcolor;
  border: $tab-border;
  height: $field-height;
  margin-right: -1px;
  padding: 0 $field-padding;

  &:first-child {
    margin-right: 0;
  }

  .tabLabel {
    line-height: $field-height;
  }

  &Checked {
    background-color: $tab-active-bgcolor;
    color: $tab-active-textcolor;
  }

  &ContainerTop-tabs,
  &ContainerBottom-tabs {
    padding-left: 1px
  }

  &ContainerTop-tabs {
    border-bottom: none;
  }

  &ContainerBottom-tabs {
    border-top: $tab-border;
  }

  &ContainerBottom-container,
  &ContainerTop-container,
  &ContainerLeft-container,
  &ContainerRight-container {
    border: $tab-border;
  }

  &ContainerTop-container {
    border-top: 0;
  }

  &ContainerBottom-container {
    border-bottom: 0;
  }

  &Pane {
    padding: 0 20px ;
  }

  &CloseButton {
    @extend #font-icon-base;
    margin-left: 0;
  };
}

.dijitTabStripIcon {
  @extend #font-icon-base;
  height: $field-height;
  width: $field-height;
  border-right: $tab-strip-border;

  &:before {
    content: $fa-var-angle-left;
    color: $tab-strip-icon-color;
    @include center-icon(5px, 16px); // Sadly compass can't get width and height from a svg
  }
}

.tabStripButton {
  background-color: $tab-strip-bgcolor;
  width: 36px;
  padding: 0;
}

.dijitTabStripSlideRightIcon {
  border-left: $tab-strip-border;

  &:before {
    content: $fa-var-angle-right;
  }
}

.dijitTabStripMenuIcon {
  //border-right: none;

  &:before {
    content: $fa-var-angle-down;
  }
}
