.dijitTooltip {
  max-width: 300px;

  &Container {
    background: $tooltip-normal-bgcolor;
    border: $tooltip-normal-border;
    color: inherit;
    font-size: inherit;
    padding: $basic-padding;
    margin-left: 10px;
    border-radius: $field-border-radius;
    &:before {
      width: 14px;
      height: 14px;
      content: "";
      position: absolute;
      top: 10px;
      left: 3px; 
      transform: rotate(-45deg);
      background: white; 
      border-left: 1px solid $gray;
      border-top: 1px solid $gray;  
    }
  }

  &FocusNode {
    padding: $tooltop-normal-padding;
  }
}

